<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Accessibility</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <h1> Accessibility</h1>
        <h4>We aim to make the NHS digital service manual as accessible and easy to use as possible.</h4>
        <p>
            We've designed our pages to meet the Web Content Accessibility Guidelines to level AA - and in some cases
            AAA -
            and we've tested them with users with access needs.
        </p>

        <h3>How to contact us</h3>
        <p>
            If you have any questions about accessibility, please <a th:href="@{/contact-us}">contact us</a>
        </p>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>