<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <script src="/js/validation/_formValidatorUtil.js" defer></script>
  <script src="/js/validation/adminRegisterFormValidation.js" defer></script>
  <title>Admin Area</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/admin}">Admin
            area</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Register admin</a>
          </li>

        </ol>
        <p class="nhsuk-breadcrumb__back">
          <a class="nhsuk-breadcrumb__backlink" th:href="@{/admin}">
            <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
            Admin area
          </a>
        </p>
      </div>
    </nav>

    <div class="nhsuk-error-summary nhsuk-u-visually-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list" role="list" id="error-summary-list"></ul>
      </div>
    </div>

    <form th:method="post" th:action="@{/admin/register}" th:object="${newUserObject}" id="admin-register-form">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Register new admin
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="clinic">
            Clinic:
          </label>
          <select class="nhsuk-select nhsuk-input--width-10" id="clinic" name="clinic" th:field="*{clinic}">
            <option value="" disabled selected>Select a clinic</option>
            <option value="Kings Mill Hospital">Nightingale Community Hospital</option>
            <option value="Long Eaton Health Centre">Long Eaton Health Centre</option>
            <option value="Kings Mill Hospital">Kings Mill Hospital</option>
          </select>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Email:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="email" id="email" name="email"
                 th:field="*{email}" />
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="firstname">
            First Name:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="firstname" name="firstname"
                 th:field="*{firstname}"/>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="lastname">
            Last Name:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="lastname" name="lastname"
                 th:field="*{lastname}"/>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="password">
            Password:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="password" id="password" name="password"
                 th:field="*{password}" />
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address1">
            Address: <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
          </label>
          <input class="nhsuk-input" type="text" id="address1" name="address-line-1" th:field="*{address1}"/>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address2">
            <span class="nhsuk-u-visually-hidden">Address line 2 of 2</span>
          </label>
          <input class="nhsuk-input" type="text" id="address2" name="address-line-2" th:field="*{address2}"/>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="city">
            Town or city:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="city" name="address-town"
                 th:field="*{city}"/>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="postcode">
            Postcode:
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" type="text" id="postcode" name="address-postcode"
                 th:field="*{postcode}"/>
        </div>

      </fieldset>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Register
      </button>
    </form>

    <div th:unless="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
      <script th:inline="javascript">
        window.location.href = '/login';
      </script>
    </div>

  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>