<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <title>Admin Area</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <h2>Welcome, <span th:text="${name}"></span></h2>
    </div>

    <h1>Admin Area</h1>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" th:href="@{/admin/search}">Search patients</a>
            </h2>
            <p class="nhsuk-card__description">View patient information, and manage patient treatment.</p>

            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
              <circle cx="13.333" cy="13.333" r="13.333" fill="" />
              <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                <path d="M15.438 13l-3.771 3.771" />
                <path data-name="Path" d="M11.667 9.229L15.438 13" />
              </g>
            </svg>

          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" th:href="@{/admin/register}">Register a new admin</a>
            </h2>
            <p class="nhsuk-card__description">Register a healthcare professional or other admin.</p>

            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
              <circle cx="13.333" cy="13.333" r="13.333" fill="" />
              <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                <path d="M15.438 13l-3.771 3.771" />
                <path data-name="Path" d="M11.667 9.229L15.438 13" />
              </g>
            </svg>

          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" th:href="@{/admin/plans/add}">Create a treatment plan</a>
            </h2>
            <p class="nhsuk-card__description">Create a custom treatment plan for a patient, or add to the existing defaults.</p>

            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
              <circle cx="13.333" cy="13.333" r="13.333" fill="" />
              <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                <path d="M15.438 13l-3.771 3.771" />
                <path data-name="Path" d="M11.667 9.229L15.438 13" />
              </g>
            </svg>

          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" th:href="@{/admin/lymphoedema/add}">Add a lymphoedema type</a>
            </h2>
            <p class="nhsuk-card__description">Add a different type of lymphoedema, for a specific body part.</p>

            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
              <circle cx="13.333" cy="13.333" r="13.333" fill="" />
              <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                <path d="M15.438 13l-3.771 3.771" />
                <path data-name="Path" d="M11.667 9.229L15.438 13" />
              </g>
            </svg>

          </div>
        </div>

      </li>
    </ul>

    <form th:method="post" th:action="@{/logout}">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Logout
      </button>
    </form>

    <div th:unless="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
      <script th:inline="javascript">
        window.location.href = '/login';
      </script>
    </div>

  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>