<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <script src="/js/validation/_formValidatorUtil.js" defer></script>
  <script src="/js/validation/adminSearchUserFormValidation.js" defer></script>
  <title>Admin Area</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" th:href="@{/admin}">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>

    <div class="nhsuk-error-summary nhsuk-u-visually-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list" role="list" id="error-summary-list"></ul>
      </div>
    </div>

    <form th:method="post" th:action="@{/admin/search}" th:object="${newUserObject}" id="admin-search-user-form">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Search patients
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Patient email:
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" type="email" id="email" name="email"
                 th:field="*{email}" />
        </div>

      </fieldset>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Search
      </button>
    </form>


    <div th:unless="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
      <script th:inline="javascript">
        window.location.href = '/login';
      </script>
    </div>

  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>