<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Admin Area</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" th:href="@{/admin/search/{userId}(userId=${user.user_id})}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <h2>Set treatment plan for user <span th:text="${user.getFirstname() + ' ' + user.getLastname()}">User Name</span></h2>
        <form th:method="post" th:action="@{/admin/{user_id}/plan(user_id=${user.user_id})}" th:object="${selectedPlan}" id="admin-set-user-plan-form">
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="select-1">
                    Treatment plans
                </label>
                <select class="nhsuk-select" id="select-1" name="selectedPlanId" th:field="*{id}">
                    <option th:each="plan : ${plans}" th:value="${plan.getId()}" th:text="${plan.getName()}">Plan Name</option>
                </select>
            </div>
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Set plan
            </button>
        </form>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>