<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Landing Page</title>
</head>
<body>
    <script th:replace="~{fragments/_fragments :: pagescript}"></script>
    <header th:replace="~{fragments/_fragments :: header}"></header>

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <p>Information source: <a href="http://www.lymphoedema.org">The Lymphoedema Support Network (LSN)</a>, <a href="https://www.nhs.uk/conditions/lymphoedema/">NHS Health Guide</a></p>

            <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#what-is-lymphoedema">What is Lymphoedema?</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#types-of-lymphoedema">Types of Lymphoedema</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#causes-of-lymphoedema">Causes of Lymphoedema</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#treatments-for-lymphoedema">Treatments for Lymphoedema</a>
                    </li>
                </ol>
            </nav>

            <section id="what-is-lymphoedema">
                <h2>What is Lymphoedema?</h2>
                <p>Lymphoedema is a swelling that develops as a result of an impaired lymphatic system. This may be as a result of the lymphatic system not developing properly or through damage or trauma (see section on types of lymphoedema). It can affect any part of the body but is most commonly seen in an arm or a leg. Although thought to be relatively uncommon, recent research suggests that 6 in every 1,000 people in the UK may be affected by this condition. In order to understand how lymphoedema occurs, it is important to have an understanding of the lymphatic system in general – what it is and how it works.</p>
            </section>

            <section id="types-of-lymphoedema">
                <h2>Types of Lymphoedema</h2>
                <ul>
                    <li>Primary lymphoedema</li>
                    <p>This is a rare, inherited condition caused by problems with the development of the lymphatic system. It can be present at birth, develop during puberty, or occur later in life.</p>
                    <li>Secondary lymphoedema</li>
                    <p>This type is more common and results from damage to the lymphatic system due to surgery, radiation therapy, infection, cancer, or injury. It often occurs after treatments for cancer, such as breast cancer surgery.</p>
                </ul>
            </section>

            <section id="causes-of-lymphoedema">
                <h2>Causes of Lymphoedema</h2>
                <p>If, for whatever reason, the lymphatic system is not working correctly, or the vessels are not draining adequately, the fluid and other materials in lymph build up in the tissues (as when a river is dammed and flooding occurs). Swelling occurs when the amount of fluid in an area is greater than the capacity of the lymphatic system to transport it away. Lymphoedema can be defined as ‘oedema (swelling) due to the accumulation of lymph in the tissues’.</p>
            </section>

            <section id="treatments-for-lymphoedema">
                <h2>Treatments for Lymphoedema</h2>
            </section>
        </main>
    </div>
</body>
</html>