<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Home</title>
</head>
<body>
    <script th:replace="~{fragments/_fragments :: pagescript}"></script>
    <header th:replace="~{fragments/_fragments :: header}"></header>

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <p>Information source: <a href="http://www.lymphoedema.org">The Lymphoedema Support Network (LSN)</a>, <a href="https://www.nhs.uk/conditions/lymphoedema/">NHS Health Guide</a>, <a href="https://www.thebls.com/">British Lymphology Society (BLS)</a>, <a href="https://www.macmillan.org.uk/">Macmillan Cancer Support</a>, <a href="https://www.uhdb.nhs.uk/service-lymphoedema">University Hospital of Derby and Burton - Lymphoedema Service Patient Information</a></p>

            <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#what-is-lymphoedema">What is Lymphoedema?</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#types-of-lymphoedema">Types of Lymphoedema</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#causes-of-lymphoedema">Causes of Lymphoedema</a>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#treatments-for-lymphoedema">Treatments for Lymphoedema</a>
                    </li>
                </ol>
            </nav>

            <section id="what-is-lymphoedema">
                <h2>What is Lymphoedema?</h2>
                <p>Lymphoedema is a swelling that develops as a result of an impaired lymphatic system. This may be as a result of the lymphatic system not developing properly or through damage or trauma (see section on types of lymphoedema). It can affect any part of the body but is most commonly seen in an arm or a leg. Although thought to be relatively uncommon, recent research suggests that 6 in every 1,000 people in the UK may be affected by this condition. In order to understand how lymphoedema occurs, it is important to have an understanding of the lymphatic system in general – what it is and how it works.</p>

                <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            What is the lymphatic system?
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>The lymphatics form part of your immune system, helping to deal with infection at a local level but just as importantly, they are responsible for cleansing your tissues and maintaining a balance of fluids in your body.</p>
                        <p>It can be likened to a waste disposal system, taking tissue fluid, bacteria, proteins and waste products away from the tissues around skin, fat, muscle and bone.</p>
                        <p>Once inside the lymphatic vessels (not visible just under the surface of the skin) the tissue fluid becomes known as ‘lymph’ and it is then transported in one direction, by increasingly larger and deeper lymphatic vessels. Movement of lymph depends on muscle movement (exercise) and the contraction of the deeper vessels themselves. Gentle massage known as Manual Lymphatic Drainage (MLD) or Self Lymphatic Drainage and deep breathing can also help to move the lymph more effectively.</p>
                        <p>At some point in its journey, lymph will pass through a lymph node, or gland. Clusters of these nodes are found in the neck, armpits and groins. It is here that the lymph is filtered and cleansed, so that the waste matter, bacteria and harmful cells can be identified and removed by the body’s defence system.</p>
                        <p>Having passed through these nodes, lymph finally drains back into the large veins of the body at a point just behind the collarbone, on each side of the neck. From here it travels in the blood back to the heart and is eventually removed from the body as urine through the kidneys.</p>
                    </div>
                </details>
            </section>

            <section id="types-of-lymphoedema">
                <h2>Types of Lymphoedema</h2>
                <ul>
                    <li>Primary lymphoedema</li>
                    <p>This is a rare, inherited condition caused by problems with the development of the lymphatic system. It can be present at birth, develop during puberty, or occur later in life.</p>
                    <li>Secondary lymphoedema</li>
                    <p>This type is more common and results from damage to the lymphatic system due to surgery, radiation therapy, infection, cancer, or injury. It often occurs after treatments for cancer, such as breast cancer surgery.</p>
                </ul>
            </section>

            <section id="causes-of-lymphoedema">
                <h2>Causes of Lymphoedema</h2>
                <p>If, for whatever reason, the lymphatic system is not working correctly, or the vessels are not draining adequately, the fluid and other materials in lymph build up in the tissues (as when a river is dammed and flooding occurs). Swelling occurs when the amount of fluid in an area is greater than the capacity of the lymphatic system to transport it away. Lymphoedema can be defined as ‘oedema (swelling) due to the accumulation of lymph in the tissues’.</p>
            </section>

            <section id="treatments-for-lymphoedema">
                <h2>Treatments for Lymphoedema</h2>
                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            Skincare
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>The part of your body affected by lymphoedema is more vulnerable to infection of the build-up of fluid within the tissues.</p>
                        <p>Any cuts in your skin can allow bacteria to enter your body and may quickly develop into an infection.</p>
                        <p>Skin infections can also damage your lymphatic system and cause lymphoedema to develop.</p>
                        <p>You can reduce your chances of developing skin infections by:</p>
                        <div class="nhsuk-do-dont-list">
                            <h3 class="nhsuk-do-dont-list__label">Do</h3>
                            <ul class="nhsuk-list nhsuk-list--tick" role="list">
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    treating cuts and scratches immediately with an antiseptic cream
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    using insect repellents to prevent insect bites
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    keeping your skin clean and dry, and using an alternative to soap, such as an E45 wash
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    moisturising the skin daily to keep it supple – a GP can prescribe a suitable cream
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    using sunscreen with a high sun protection factor (SPF) to prevent sunburn
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    wearing gloves for gardening and household tasks to avoid cuts if your upper limbs are affected
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    using anti-fungal powder to prevent fungal infections in your skin or feet if your lower limbs are affected
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    cutting your nails with nail clippers
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    seeing a chiropodist for foot and nail care – make sure you tell them you have lymphoedema
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    wearing shoes that fit correctly and provide support on the top of your feet and avoiding going barefoot if your lower limbs are affected
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    using an electric razor if you need to shave to reduce the risk of cutting yourself
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                                    </svg>
                                    following careful mouth and dental hygiene if you have lymphoedema in your head and neck
                                </li>
                            </ul>
                        </div>

                        <div class="nhsuk-do-dont-list">
                            <h3 class="nhsuk-do-dont-list__label">Don&#39;t</h3>
                            <ul class="nhsuk-list nhsuk-list--cross" role="list">
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                    </svg>
                                    having injections or blood pressure readings in the affected area whenever possible
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                    </svg>
                                    taking very hot baths and showers – the heat from saunas, steam rooms and sun beds may increase the swelling
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                    </svg>
                                    do not pick at the edges of the remaining skin
                                </li>
                                <li>
                                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
                                    </svg>
                                    not wearing tight fitting clothes or jewellery
                                </li>
                            </ul>
                        </div>
                    </div>
                </details>

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            Compression Garments
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>The therapy teams are all working and undertaking follow up assessments. We are able to order and post new compression garments out to you but measuring for garments is more difficult to do accurately if you are not seen in person. </p>
                        <p>Please remember to wash your garments using the manufacturer’s instructions. Most garments can be washed in a washing machine at 40 degrees on a gentle wash. Washing your garment in a net washing bag or a pillowcase will help to protect it. </p>
                        <p>If you are not due a lymphoedema clinic follow up appointment but are having problems with your compression garment such as it no longer fitting or has holes / has worn out, please contact the lymphoedema clinic to arrange an appointment or discuss provision of new hosiery. </p>
                    </div>
                </details>

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            Exercise
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>Please keep up with your regular exercise routine. Exercise and movement is helpful for the lymph system.</p>
                        <p>Lymphoedema on different body parts will have different exercise treatment see the following link for more advice:</p>
                        <p><a class="nhsuk-contents-list__link" href="#">Leg Lymphoedema</a></p>
                        <p><a class="nhsuk-contents-list__link" href="#">Arm Lymphoedema</a></p>
                        <p><a class="nhsuk-contents-list__link" href="#">Head adn Neck Lymphoedema</a></p>
                        <p><a class="nhsuk-contents-list__link" href="#">Deap Breathing Exercise</a></p>
                    </div>
                </details>

                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            Manual Lymphatic Drainage (MLD) & Simple Lymphatic Drainage (SLD)
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <h3>Manual lymphatic drainage (MLD)</h3>
                        <p>Your therapist will tell you how often you will have MLD. The length of the course may vary, and it is sometimes combined with other treatments. Before and after MLD, your therapist will do some breathing exercises with you.</p>
                        <p>You will usually lie down. You may need to remove some of your clothing. Your therapist will begin by treating unaffected lymph nodes. This frees up space for fluid from the affected area to drain into. They will use some pressure and slow, regular movements. Your therapist may ask you to do some simple movements during the treatment to help the lymph to drain.</p>
                        <p>To help keep the swelling down between treatments, your therapist will show you how to do a simple version of MLD yourself at home. It is a type of self-massage called simple lymphatic drainage (SLD).</p>
                        <p>You will not have MLD if you have an infection called <a class="nhsuk-contents-list__link" href="#cellulitis">cellulitis</a> in the swollen area. You also cannot have it if you have certain medical conditions, such as heart problems.</p>
                    </div>
                    <div class="nhsuk-details__text">
                        <h3>Simple Lymphatic Drainage (SLD)</h3>
                        <p>Your lymphoedema specialist may suggest simple lymphatic drainage (SLD) as part of your lymphoedema treatment. This is a simplified version of manual lymphatic drainage (MLD). It is sometimes called self-lymphatic drainage.</p>
                        <p>Your lymphoedema specialist will explain how to do the massage and show you the right amount of pressure to use. This will depend on your situation.</p>
                        <p>The aim of this massage is to improve the flow of lymph fluid in the healthy lymph vessels. Once the vessels have cleared, the excess fluid from the swollen area can drain away more easily.</p>
                        <p>It is best to choose a time and a place where you can do SLD in a relaxed way. This could be somewhere nothing will interrupt or distract you. Make sure you have everything you need before you start, and get into a comfortable position.</p>
                        <p>Remember to do your deep breathing exercises first.</p>
                        <p>You do not use any oils or creams for the massage. You use your hand to very gently move the skin in a particular direction. You always move the skin in the direction away from the swelling. You could use a little talcum powder if your skin is sticky. If your skin is red when you have finished, then the movement is too much.</p>
                    </div>
                </details>

                <section id="cellulitis">
                <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            Cellulitis & Guidelines
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <p>Monitor for signs of cellulitis developing. Cellulitis is an infection of the skin and is more common in people with lymphoedema than those without.  Signs of cellulitis include inflammation, pain, increased swelling and heat of the affected area along with feeling generally unwell/flu like. Cellulitis affecting both legs, at the same time, is not very common. Bilateral (both) inflamed legs are often due to other reasons. If you are sitting down more for long periods you may notice that your legs are more inflammed than normal. In such cases elevating swollen legs using a foot stool or resting for periods on the bed and regular exercise / movement will help prevent a worsening of swelling. </p>
                        <p>If you think you are developing cellulitis you should contact your GP immediately for antibiotic treatment. This is very important and should be considered a health emergency and not be delayed, even in view of the current health care situation. If you are seriously ill with cellulitis you may require admission to hospital for treatment with intra venous antibiotics. </p>
                        <p><a class="nhsuk-contents-list__link" href="#">More information about the managment of cellulitis</a></p>
                    </div>
                </details>
                </section>
            </section>
        </main>
    </div>
    <footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>