<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragments/mainFragments :: mainStyles}"/>
    <script th:replace="~{fragments/mainFragments :: mainScripts}"></script>
    <title>Landing Page</title>
</head>
<body>
    <header th:replace="~{fragments/mainFragments :: header}"></header>

    <div class="container">
        <section id="what-is-lymphoedema">
            <h2>What is Lymphoedema?</h2>
        </section>

        <section id="types-of-lymphoedema">
            <h2>Types of Lymphoedema</h2>
        </section>

        <section id="causes-of-lymphoedema">
            <h2>Causes of Lymphoedema</h2>
        </section>

        <section id="treatments-for-lymphoedema">
            <h2>Treatments for Lymphoedema</h2>
        </section>
    </div>
</body>
</html>