<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Pre-appointment Questionnaire</title>

    <!--    add any extra javascript file references here-->
    <!--<script src="/scripts/questionnaireFormScripts.js"></script>-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" th:href="@{/taskhub}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Pre-Appointment Questionnaire
                </h1>
            </legend>

            <p>Please complete and submit this form before your next appointment.</p>

            <form th:action="@{/submitquestionnaire}" method="post">
                <fieldset class="nhsuk-fieldset">
                    <div class="nhsuk-form-group">
                        <h3 class="nhsuk-label-wrapper">
                            1. Medications</h3>
                        <label class="nhsuk-label" for="medications">
                            List any current medications you are currently taking and have been prescribed.
                        </label>
                        <!--                    <div class="nhsuk-hint" id="medications-hint">-->
                        <!--                        List your current medications.-->
                        <!--                    </div>-->
                        <textarea class="nhsuk-textarea" id="medications" name="medications" rows="5"
                                  aria-describedby="medications"></textarea>
                    </div>

                    <div class="nhsuk-form-group">
                        <h3 class="nhsuk-label-wrapper">
                            2. Any changes to health/new diagnoses:</h3>
                        <label class="nhsuk-label" for="changes-to-health">
                            Describe any recent health changes or diagnoses.
                        </label>
                        <!--                    <div class="nhsuk-hint" id="changes-to-health-hint">-->
                        <!--                        Describe any recent health changes or diagnoses-->
                        <!--                    </div>-->
                        <textarea class="nhsuk-textarea" id="changes-to-health" name="changes-to-health" rows="5"
                                  aria-describedby="changes-to-health"></textarea>
                    </div>

                    <div class="nhsuk-form-group">
                        <h3 class="nhsuk-label-wrapper">
                            3. Any concerns regarding swelling:</h3>
                        <label class="nhsuk-label" for="swellingConcerns">
                            Express any concerns you may have about swelling of the affected areas.
                        </label>
                        <!--                    <div class="nhsuk-hint" id="swellingConcerns-hint">-->
                        <!--                        Express any concerns you may have about swelling of the affected areas.-->
                        <!--                    </div>-->
                        <textarea class="nhsuk-textarea" id="swellingConcerns" name="swellingConcerns" rows="5"
                                  aria-describedby="swellingConcerns"></textarea>
                    </div>

                    <div class="nhsuk-form-group">
                        <h3 class="nhsuk-label-wrapper">
                            4. Any concerns regarding hosiery.</h3>
                        <label class="nhsuk-label" for="hosieryConcerns">
                            Discuss any issues with hosiery, including any allergies.
                        </label>
                        <!--                    <div class="nhsuk-hint" id="hosieryConcerns-hint">-->
                        <!--                        Discuss any issues with hosiery, including any allergies.-->
                        <!--                    </div>-->
                        <textarea class="nhsuk-textarea" id="hosieryConcerns" name="hosieryConcerns" rows="5"
                                  aria-describedby="hosieryConcerns"></textarea>
                    </div>

                    <div class="nhsuk-form-group">
                        <h3 class="nhsuk-label-wrapper">
                            5. Episodes of cellulitis since last appointment.</h3>
                        <label class="nhsuk-label" for="cellulitisEpisodes">
                            Enter number of episodes of cellulitis since your last appointment.
                        </label>
                        <!--                    <div class="nhsuk-hint" id="example-with-hint-text-hint">-->
                        <!--                        Enter number of episodes of cellulitis since your last appointment.-->
                        <!--                    </div>-->
                        <input class="nhsuk-input nhsuk-input--width-10" id="cellulitisEpisodes"
                               name="cellulitisEpisodes"
                               type="text" aria-describedby="Number of cellulitis episodes" inputmode="numeric">
                    </div>

                </fieldset>
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                    Submit Questionnaire
                </button>
            </form>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>

</body>
</html>
