<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Quality of Life Questionnaire</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">



        <!--        page content  goes here-->
        <h1> Quality of Life Questionnaire </h1>

        <form th:action="@{/submit}" th:object="${response}" method="post">
            <p><strong>(Q1) How much does your swollen leg affect the following activities?</strong><br>
                If any of the items are not applicable to you, please write N/A in the relevant answer box(es)</p>
            <table>
                <tr>
                    <th>Activity</th>
                    <th>Not at all</th>
                    <th>A little</th>
                    <th>Quite a bit</th>
                    <th>A lot</th>
                    <th>N/A</th>
                </tr>
                <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h1 class="nhsuk-fieldset__heading">
                                (Q1) How much does your swollen leg affect your walking?
                            </h1>
                        </legend>

                        <div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="walking-1" name="walking" type="radio" value="1">
                                <label class="nhsuk-label nhsuk-radios__label" for="walking-1">
                                    Not at all
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="walking-2" name="walking" type="radio" value="2">
                                <label class="nhsuk-label nhsuk-radios__label" for="walking-2">
                                    A little
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="walking-3" name="walking" type="radio" value="3">
                                <label class="nhsuk-label nhsuk-radios__label" for="walking-3">
                                    Quite a bit
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="walking-4" name="walking" type="radio" value="4">
                                <label class="nhsuk-label nhsuk-radios__label" for="walking-4">
                                    A lot
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="walking-na" name="walking" type="radio" value="N/A">
                                <label class="nhsuk-label nhsuk-radios__label" for="walking-na">
                                    N/A
                                </label>
                            </div>
                        </div>
                    </fieldset>
                <tr>
                    <td>b) Your ability to bend, e.g., to tie shoelaces or cut toenails</td>
                    <td><input type="radio" name="bending" value="1"></td>
                    <td><input type="radio" name="bending" value="2"></td>
                    <td><input type="radio" name="bending" value="3"></td>
                    <td><input type="radio" name="bending" value="4"></td>
                </tr>
                <tr>
                    <td>c) Your ability to stand</td>
                    <td><input type="radio" name="standing" value="1"></td>
                    <td><input type="radio" name="standing" value="2"></td>
                    <td><input type="radio" name="standing" value="3"></td>
                    <td><input type="radio" name="standing" value="4"></td>
                </tr>
                <tr>
                    <td>d) Your ability to get up from a chair</td>
                    <td><input type="radio" name="gettingUp" value="1"></td>
                    <td><input type="radio" name="gettingUp" value="2"></td>
                    <td><input type="radio" name="gettingUp" value="3"></td>
                    <td><input type="radio" name="gettingUp" value="4"></td>
                </tr>
                <tr>
                    <td>e) Your occupation</td>
                    <td><input type="radio" name="occupation" value="1"></td>
                    <td><input type="radio" name="occupation" value="2"></td>
                    <td><input type="radio" name="occupation" value="3"></td>
                    <td><input type="radio" name="occupation" value="4"></td>
                </tr>
                <tr>
                    <td>f) Your ability to do housework</td>
                    <td><input type="radio" name="housework" value="1"></td>
                    <td><input type="radio" name="housework" value="2"></td>
                    <td><input type="radio" name="housework" value="3"></td>
                    <td><input type="radio" name="housework" value="4"></td>
                </tr>
            </table>

            <p><strong>(Q2) Does the swelling affect your leisure activities/social life?</strong></p>
            <table>
                <tr>
                    <td>Not at all</td>
                    <td><input type="radio" name="leisureActivities" value="1"></td>
                    <td>A little</td>
                    <td><input type="radio" name="leisureActivities" value="2"></td>
                    <td>Quite a bit</td>
                    <td><input type="radio" name="leisureActivities" value="3"></td>
                    <td>A lot</td>
                    <td><input type="radio" name="leisureActivities" value="4"></td>
                </tr>
            </table>
            <label for="leisureExamples">Please give examples:</label>
            <textarea id="leisureExamples" name="leisureExamples" rows="4" cols="50"></textarea>

            <!-- Add similar sections for other questions following the pattern above -->
            <!-- Skipping directly to Q22 for brevity -->

            <p><strong>(Q22) Overall, how would you rate your quality of life at present?</strong><br>
                Please mark your score on the following scale:</p>
            <table>
                <tr>
                    <td>0 (Poor)</td>
                    <td><input type="radio" name="qualityOfLife" value="0"></td>
                    <td>1</td>
                    <td><input type="radio" name="qualityOfLife" value="1"></td>
                    <!-- Add more options up to 10 -->
                    <td>10 (Excellent)</td>
                    <td><input type="radio" name="qualityOfLife" value="10"></td>
                </tr>
            </table>

            <button type="submit">Submit</button>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>