<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Quality of Life Questionnaire</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" th:href="@{/questionnaires}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <form th:object="${qolQuestionnaireForm}" th:action="@{/questionnaires/qol-questionnaire}" th:method="post" id="qol-form">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                        Quality of Life Questionnaire - Leg Lymphoedema
                    </h1>
                </legend>
                <strong><p>If any of the questions are not applicable to you, please write N/A in the relevant answer
                    box(es)</p></strong>
                <p><strong>(Q1) How much does your swollen leg affect the following activities?</strong></p>
                <table>
                    <tr>
                        <th>Activity</th>
                        <th>N/A</th>
                        <th>Not at all</th>
                        <th>A little</th>
                        <th>Quite a bit</th>
                        <th>A lot</th>
                    </tr>
                    <tr>
                        <td>a) Your walking</td>
                        <td><input type="radio" th:field="*{walking}" value="0"></td>
                        <td><input type="radio" th:field="*{walking}" value="1"></td>
                        <td><input type="radio" th:field="*{walking}" value="2"></td>
                        <td><input type="radio" th:field="*{walking}" value="3"></td>
                        <td><input type="radio" th:field="*{walking}" value="4"></td>

                    </tr>

                    <tr>
                        <td>b) Your ability to bend, e.g. to tie shoelaces or cut toenails</td>
                        <td><input type="radio" th:field="*{bending}" value="0"></td>
                        <td><input type="radio" th:field="*{bending}" value="1"></td>
                        <td><input type="radio" th:field="*{bending}" value="2"></td>
                        <td><input type="radio" th:field="*{bending}" value="3"></td>
                        <td><input type="radio" th:field="*{bending}" value="4"></td>

                    </tr>
                    <tr>
                        <td>c) Your ability to stand</td>
                        <td><input type="radio" th:field="*{standing}" value="0"></td>
                        <td><input type="radio" th:field="*{standing}" value="1"></td>
                        <td><input type="radio" th:field="*{standing}" value="2"></td>
                        <td><input type="radio" th:field="*{standing}" value="3"></td>
                        <td><input type="radio" th:field="*{standing}" value="4"></td>

                    </tr>
                    <tr>
                        <td>d) Your ability to get up from a chair</td>
                        <td><input type="radio" th:field="*{gettingUp}" value="0"></td>
                        <td><input type="radio" th:field="*{gettingUp}" value="1"></td>
                        <td><input type="radio" th:field="*{gettingUp}" value="2"></td>
                        <td><input type="radio" th:field="*{gettingUp}" value="3"></td>
                        <td><input type="radio" th:field="*{gettingUp}" value="4"></td>

                    </tr>
                    <tr>
                        <td>e) Your occupation</td>
                        <td><input type="radio" th:field="*{occupation}" value="0"></td>
                        <td><input type="radio" th:field="*{occupation}" value="1"></td>
                        <td><input type="radio" th:field="*{occupation}" value="2"></td>
                        <td><input type="radio" th:field="*{occupation}" value="3"></td>
                        <td><input type="radio" th:field="*{occupation}" value="4"></td>

                    </tr>
                    <tr>
                        <td>f) Your ability to do housework</td>
                        <td><input type="radio" th:field="*{housework}" value="0"></td>
                        <td><input type="radio" th:field="*{housework}" value="1"></td>
                        <td><input type="radio" th:field="*{housework}" value="2"></td>
                        <td><input type="radio" th:field="*{housework}" value="3"></td>
                        <td><input type="radio" th:field="*{housework}" value="4"></td>

                    </tr>
                </table>

                <p><strong>(Q2) Does the swelling affect your leisure activities/social life?</strong></p>
                <table>
                    <tr>
                        <td>N/A</td>
                        <td><input type="radio" th:field="*{leisureActivities}" value="0"></td>
                        <td>Not at all</td>
                        <td><input type="radio" th:field="*{leisureActivities}" value="1"></td>
                        <td>A little</td>
                        <td><input type="radio" th:field="*{leisureActivities}" value="2"></td>
                        <td>Quite a bit</td>
                        <td><input type="radio" th:field="*{leisureActivities}" value="3"></td>
                        <td>A lot</td>
                        <td><input type="radio" th:field="*{leisureActivities}" value="4"></td>

                    </tr>
                </table>
                <label for="leisureExamples">Please give examples:</label> <br>
                <textarea id="leisureExamples" th:field="*{leisureExamples}" rows="6" cols="150"></textarea>
                <br>

                <table>
                    <tr>
                        <th>Questions</th>
                        <th>N/A</th>
                        <th>Not at all</th>
                        <th>A little</th>
                        <th>Quite a bit</th>
                        <th>A lot</th>

                    </tr>
                    <tr>
                        <td><strong>(Q3) How much do you have to depend on other people?</strong></td>
                        <td><input type="radio" th:field="*{dependency}" value="0"></td>
                        <td><input type="radio" th:field="*{dependency}" value="1"></td>
                        <td><input type="radio" th:field="*{dependency}" value="2"></td>
                        <td><input type="radio" th:field="*{dependency}" value="3"></td>
                        <td><input type="radio" th:field="*{dependency}" value="4"></td>

                    </tr>

                    <tr>
                        <td><strong>(Q4) How much do you feel the swelling affects your appearance?</strong></td>
                        <td><input type="radio" th:field="*{appearance}" value="0"></td>
                        <td><input type="radio" th:field="*{appearance}" value="1"></td>
                        <td><input type="radio" th:field="*{appearance}" value="2"></td>
                        <td><input type="radio" th:field="*{appearance}" value="3"></td>
                        <td><input type="radio" th:field="*{appearance}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q5) How much difficulty do you have finding clothes to fit?</strong></td>
                        <td><input type="radio" th:field="*{clothesFitDifficulty}" value="0"></td>
                        <td><input type="radio" th:field="*{clothesFitDifficulty}" value="1"></td>
                        <td><input type="radio" th:field="*{clothesFitDifficulty}" value="2"></td>
                        <td><input type="radio" th:field="*{clothesFitDifficulty}" value="3"></td>
                        <td><input type="radio" th:field="*{clothesFitDifficulty}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q6) How much difficulty do you have finding clothes you would like to wear?</strong></td>
                        <td><input type="radio" th:field="*{clothesPreferenceDifficulty}" value="0"></td>
                        <td><input type="radio" th:field="*{clothesPreferenceDifficulty}" value="1"></td>
                        <td><input type="radio" th:field="*{clothesPreferenceDifficulty}" value="2"></td>
                        <td><input type="radio" th:field="*{clothesPreferenceDifficulty}" value="3"></td>
                        <td><input type="radio" th:field="*{clothesPreferenceDifficulty}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q7) Do you have difficulty finding shoes to fit?</strong></td>
                        <td><input type="radio" th:field="*{shoesFitDifficulty}" value="0"></td>
                        <td><input type="radio" th:field="*{shoesFitDifficulty}" value="1"></td>
                        <td><input type="radio" th:field="*{shoesFitDifficulty}" value="2"></td>
                        <td><input type="radio" th:field="*{shoesFitDifficulty}" value="3"></td>
                        <td><input type="radio" th:field="*{shoesFitDifficulty}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q8) Do you have difficulty finding socks/tights/stockings to fit?</strong></td>
                        <td><input type="radio" th:field="*{socksFitDifficulty}" value="0"></td>
                        <td><input type="radio" th:field="*{socksFitDifficulty}" value="1"></td>
                        <td><input type="radio" th:field="*{socksFitDifficulty}" value="2"></td>
                        <td><input type="radio" th:field="*{socksFitDifficulty}" value="3"></td>
                        <td><input type="radio" th:field="*{socksFitDifficulty}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q9) Does the swelling affect how you feel about yourself?</strong></td>
                        <td><input type="radio" th:field="*{selfPerception}" value="0"></td>
                        <td><input type="radio" th:field="*{selfPerception}" value="1"></td>
                        <td><input type="radio" th:field="*{selfPerception}" value="2"></td>
                        <td><input type="radio" th:field="*{selfPerception}" value="3"></td>
                        <td><input type="radio" th:field="*{selfPerception}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q10) Does it affect your relationships with other people?</strong></td>
                        <td><input type="radio" th:field="*{relationshipImpact}" value="0"></td>
                        <td><input type="radio" th:field="*{relationshipImpact}" value="1"></td>
                        <td><input type="radio" th:field="*{relationshipImpact}" value="2"></td>
                        <td><input type="radio" th:field="*{relationshipImpact}" value="3"></td>
                        <td><input type="radio" th:field="*{relationshipImpact}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q11) Does your lymphoedema cause you pain?</strong></td>
                        <td><input type="radio" th:field="*{pain}" value="0"></td>
                        <td><input type="radio" th:field="*{pain}" value="1"></td>
                        <td><input type="radio" th:field="*{pain}" value="2"></td>
                        <td><input type="radio" th:field="*{pain}" value="3"></td>
                        <td><input type="radio" th:field="*{pain}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q12) Do you have any numbness in your swollen leg(s)?</strong></td>
                        <td><input type="radio" th:field="*{numbness}" value="0"></td>
                        <td><input type="radio" th:field="*{numbness}" value="1"></td>
                        <td><input type="radio" th:field="*{numbness}" value="2"></td>
                        <td><input type="radio" th:field="*{numbness}" value="3"></td>
                        <td><input type="radio" th:field="*{numbness}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q13) Do you have any feelings of 'pins & needles' or tingling in your swollen leg(s)?</strong></td>
                        <td><input type="radio" th:field="*{pinsNeedles}" value="0"></td>
                        <td><input type="radio" th:field="*{pinsNeedles}" value="1"></td>
                        <td><input type="radio" th:field="*{pinsNeedles}" value="2"></td>
                        <td><input type="radio" th:field="*{pinsNeedles}" value="3"></td>
                        <td><input type="radio" th:field="*{pinsNeedles}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q14) Does (do) your swollen leg(s) feel weak?</strong></td>
                        <td><input type="radio" th:field="*{legWeakness}" value="0"></td>
                        <td><input type="radio" th:field="*{legWeakness}" value="1"></td>
                        <td><input type="radio" th:field="*{legWeakness}" value="2"></td>
                        <td><input type="radio" th:field="*{legWeakness}" value="3"></td>
                        <td><input type="radio" th:field="*{legWeakness}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q15) Does (do) your swollen leg(s) feel heavy?</strong></td>
                        <td><input type="radio" th:field="*{legHeaviness}" value="0"></td>
                        <td><input type="radio" th:field="*{legHeaviness}" value="1"></td>
                        <td><input type="radio" th:field="*{legHeaviness}" value="2"></td>
                        <td><input type="radio" th:field="*{legHeaviness}" value="3"></td>
                        <td><input type="radio" th:field="*{legHeaviness}" value="4"></td>

                    </tr>
                </table>

                    <h2>In the past week...</h2>
                <table>
                    <tr>
                        <th>Questions</th>
                        <th>N/A</th>
                        <th>Not at all</th>
                        <th>A little</th>
                        <th>Quite a bit</th>
                        <th>A lot</th>

                    </tr>
                    <tr>
                        <td><strong>(Q16) Have you had trouble sleeping?</strong></td>
                        <td><input type="radio" th:field="*{sleepTrouble}" value="0"></td>
                        <td><input type="radio" th:field="*{sleepTrouble}" value="1"></td>
                        <td><input type="radio" th:field="*{sleepTrouble}" value="2"></td>
                        <td><input type="radio" th:field="*{sleepTrouble}" value="3"></td>
                        <td><input type="radio" th:field="*{sleepTrouble}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q17) Have you had difficulty concentrating on things, e.g. reading?</strong></td>
                        <td><input type="radio" th:field="*{difficultyConcentrating}" value="0"></td>
                        <td><input type="radio" th:field="*{difficultyConcentrating}" value="1"></td>
                        <td><input type="radio" th:field="*{difficultyConcentrating}" value="2"></td>
                        <td><input type="radio" th:field="*{difficultyConcentrating}" value="3"></td>
                        <td><input type="radio" th:field="*{difficultyConcentrating}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q18) Have you felt tense?</strong></td>
                        <td><input type="radio" th:field="*{feelingTense}" value="0"></td>
                        <td><input type="radio" th:field="*{feelingTense}" value="1"></td>
                        <td><input type="radio" th:field="*{feelingTense}" value="2"></td>
                        <td><input type="radio" th:field="*{feelingTense}" value="3"></td>
                        <td><input type="radio" th:field="*{feelingTense}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q19) Have you felt worried?</strong></td>
                        <td><input type="radio" th:field="*{feelingWorried}" value="0"></td>
                        <td><input type="radio" th:field="*{feelingWorried}" value="1"></td>
                        <td><input type="radio" th:field="*{feelingWorried}" value="2"></td>
                        <td><input type="radio" th:field="*{feelingWorried}" value="3"></td>
                        <td><input type="radio" th:field="*{feelingWorried}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q20) Have you felt irritable?</strong></td>
                        <td><input type="radio" th:field="*{feelingIrritable}" value="0"></td>
                        <td><input type="radio" th:field="*{feelingIrritable}" value="1"></td>
                        <td><input type="radio" th:field="*{feelingIrritable}" value="2"></td>
                        <td><input type="radio" th:field="*{feelingIrritable}" value="3"></td>
                        <td><input type="radio" th:field="*{feelingIrritable}" value="4"></td>

                    </tr>
                    <tr>
                        <td><strong>(Q21) Have you felt depressed?</strong></td>
                        <td><input type="radio" th:field="*{feelingDepressed}" value="0"></td>
                        <td><input type="radio" th:field="*{feelingDepressed}" value="1"></td>
                        <td><input type="radio" th:field="*{feelingDepressed}" value="2"></td>
                        <td><input type="radio" th:field="*{feelingDepressed}" value="3"></td>
                        <td><input type="radio" th:field="*{feelingDepressed}" value="4"></td>

                    </tr>
                </table>

                    <p><strong>(Q22) Overall, how would you rate your quality of life at present? </strong></p>
                <table>
                <tr>
                    <td>(Poor) 0</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="0"></td>
                    <td>1</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="1"></td>
                    <td>2</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="2"></td>
                    <td>3</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="3"></td>
                    <td>4</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="4"></td>
                    <td>5</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="5"></td>
                    <td>6</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="6"></td>
                    <td>7</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="7"></td>
                    <td>8</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="8"></td>
                    <td>9</td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="9"></td>
                    <td><input type="radio" th:field="*{qualityOfLife}" value="10"></td>
                    <td>10 (Excellent)</td>
                </tr>
                </table>
            </fieldset>
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Submit Quality of Life Questionnaire
            </button>
        </form>
    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Function to display confirmation dialog
        function confirmSubmission(event) {
            if (!confirm("Please check your answers before submitting your Quality of Life questionnaire.\n\nAre you sure you want to submit?")) {
                event.preventDefault();
            }
        }

        //Attaches the submit event listener to the form
        const form = document.getElementById('qol-form');
        form.addEventListener('submit', confirmSubmission);
    });
</script>

</body>
</html>