<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Pre-appointment Questionnaire Details</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/admin}">Admin
                        area</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/admin/search}">Search
                        patients</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
                                                          th:href="@{/admin/search/{userId}(userId=${user.user_id})}">Patient
                        details</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Pre-appointment
                        Questionnaire Details</a></li>
                </ol>
            </div>
        </nav>

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Pre-appointment Questionnaire Details
            </h1>
        </legend>

        <div>
            <p><strong>Date of Submission:</strong> <span th:text="${formattedDate}"></span></p>
        </div>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    1. Medications
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${#strings.isEmpty(preappointmentQuestionnaireForm.medications) ? '(N/A - Patient left empty)' : preappointmentQuestionnaireForm.medications}"></p>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    2. Any changes to health/new diagnoses
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${#strings.isEmpty(preappointmentQuestionnaireForm.changesToHealth) ? '(N/A - Patient left empty)' : preappointmentQuestionnaireForm.changesToHealth}"></p>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    3. Any concerns regarding swelling
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${#strings.isEmpty(preappointmentQuestionnaireForm.swellingConcerns) ? '(N/A - Patient left empty)' : preappointmentQuestionnaireForm.swellingConcerns}"></p>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    4. Any concerns regarding hosiery
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${#strings.isEmpty(preappointmentQuestionnaireForm.hosieryConcerns) ? '(N/A - Patient left empty)' : preappointmentQuestionnaireForm.hosieryConcerns}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Cellulitis Episodes</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${preappointmentQuestionnaireForm.cellulitisEpisodes}"></p>
                </dd>
            </div>
        </dl>




            <div class="nhsuk-tabs" data-module="nhsuk-tabs">
                <h2 class="nhsuk-tabs__title">Cellulitis Episodes Details</h2>
                <ul class="nhsuk-tabs__list">
                    <li th:each="episode, iterStat : ${preappointmentQuestionnaireForm.episodes}"
                        class="nhsuk-tabs__list-item" th:classappend="${iterStat.index == 0} ? ' nhsuk-tabs__list-item--selected'">
                        <a class="nhsuk-tabs__tab" th:href="${'#episode-' + iterStat.index}">
                            Episode <span th:text="${iterStat.index + 1}"></span>
                        </a>
                    </li>
                </ul>

                <div th:each="episode, iterStat : ${preappointmentQuestionnaireForm.episodes}"
                     class="nhsuk-tabs__panel" th:id="${'episode-' + iterStat.index}" th:classappend="${iterStat.index != 0} ? ' nhsuk-tabs__panel--hidden'">
                    <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">What date did the cellulitis occur?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.dateOfCellulitis) ? '(N/A - Patient left empty)' : episode.dateOfCellulitis}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">What area was affected by the cellulitis?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.areaAffected) ? '(N/A - Patient left empty)' : episode.areaAffected}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Was there any redness?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.redness) ? '(N/A - Patient left empty)' : episode.redness}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you experience increased pain or discomfort?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.painDiscomfort) ? '(N/A - Patient left empty)' : episode.painDiscomfort}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Was the affected area warm to touch?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.warmTouch) ? '(N/A - Patient left empty)' : episode.warmTouch}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did your swelling worsen?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.swellingWorsen) ? '(N/A - Patient left empty)' : episode.swellingWorsen}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you develop any blisters?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.blisters) ? '(N/A - Patient left empty)' : episode.blisters}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you have a raised temperature?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.raisedTemperature) ? '(N/A - Patient left empty)' : episode.raisedTemperature}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you experience any flu like symptoms?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.fluSymptoms) ? '(N/A - Patient left empty)' : episode.fluSymptoms}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Where did you visit/contact for advice/review?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.adviceVisit) ? '(N/A - Patient left empty)' : episode.adviceVisit}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Were you prescribed oral antibiotics (tablets)?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.oralAntibiotics) ? '(N/A - Patient left empty)' : episode.oralAntibiotics}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">If yes, how long did this course last for?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.courseDuration) ? '(N/A - Patient left empty)' : episode.courseDuration}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you require IV antibiotics (through a drip)?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.ivAntibiotics) ? '(N/A - Patient left empty)' : episode.ivAntibiotics}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you require admission to hospital?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.hospitalAdmission) ? '(N/A - Patient left empty)' : episode.hospitalAdmission}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Did you contact the Lymphoedema Clinic to inform them you’d had cellulitis?</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.lymphoedemaClinicContact) ? '(N/A - Patient left empty)' : episode.lymphoedemaClinicContact}"></p>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Comments</dt>
                            <dd class="nhsuk-summary-list__value">
                                <p th:text="${#strings.isEmpty(episode.comments) ? '(N/A - Patient left empty)' : episode.comments}"></p>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>