<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Quality of life Questionnaire Details</title>

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" th:href="@{/questionnaires}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Quality of Life Questionnaire Details - Breast Lymphoedema
            </h1>
        </legend>

        <p><strong>Response Scale:</strong> N/A (0), Not at all (1), A little (2), Quite a bit (3), A lot (4)</p>

        <div>
            <p><strong>Date of Submission:</strong> <span th:text="${formattedDate}"></span></p>
        </div>


        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q1a) How much does your swollen breast affect your occupation?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.occupation}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q1b) How much does your swollen breast affect your housework?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.housework}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q1c) How much does your swollen breast affect your dressing?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.dressing}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q1d) How much does your swollen breast affect your washing?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.washing}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q2) How much does it affect your leisure activities/social life?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.leisure}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Examples of how it affects your leisure activities/social life:</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${ #strings.isEmpty(qolResponseBreast.leisure_examples) ? '(N/A)' : qolResponseBreast.leisure_examples}">N/A</p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q3) How much do you have to depend on other people?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.depend_on_people}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q4) How much do you feel the swelling affects your appearance?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.appearance}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q5) How much difficulty do you have finding clothes including bras to fit?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.finding_clothes_to_fit}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q6) How much difficulty do you have finding clothes including bras you would like to wear?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.finding_clothes_to_wear}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q7) Does the swelling affect how you feel about yourself?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.feelings}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q8) Does it affect your relationships with other people?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.relationships}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q9) Does your swollen breast or chest cause you pain?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.pain}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q10) Do you have any numbness in your swollen breast or chest?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.numbness}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q11) Do you have any feelings of "pins & needles" or tingling in your swollen breast or chest?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.pins_and_needles}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q12) Do you have any feeling of tightness in your swollen breast or chest?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.tightness}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q13) Does your swollen breast feel heavy?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.heavy}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q14) In the past week have you had trouble sleeping?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.sleeping}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q15) In the past week have you had difficulty concentrating on things, e.g. reading?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.concentrating}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q16) In the past week have you felt worried?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.worried}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q17) In the past week have you felt irritable?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.irritable}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q18) In the past week have you felt depressed?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.depressed}"></p>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Q19) Overall, how would you rate your quality of life at present?</dt>
                <dd class="nhsuk-summary-list__value">
                    <p th:text="${qolResponseBreast.overall}"></p>
                </dd>
            </div>

        </dl>


        <div style="display: flex; justify-content: flex-end;">
            <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" th:href="@{/questionnaires}">
                Return to Questionnaires Page
            </a>
        </div>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>