* {
    /*outline: 1px solid red;*/
}

:root {
    --header-text-colour: #fff;
    --header-background-colour: #005eb8;
    --nav-active-colour: #ffeb3b;

    --footer-text-colour: #003087;
    --footer-background-colour: #d8dde0;
    --footer-link-highlight-colour: #731f2f;

    --page-text-colour: #212b32;
    --page-background-colour: #f0f4f5;

    --site-max-width: 1100px
}

@font-face {
    font-display: swap;
    font-family: "Frutiger W01";
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix");
    src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2") format("woff2"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff") format("woff"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf") format("truetype"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg")
}

@font-face {
    font-display: swap;
    font-family: "Frutiger W01";
    font-style: normal;
    font-weight: 600;
    src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix");
    src: url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2") format("woff2"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff") format("woff"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf") format("truetype"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg")
}

html {
    background-color: #d8dde0;
    overflow-y: scroll;
    font-family: Frutiger W01, Arial, Sans-serif, sans-serif
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 200px;
    font-family: Frutiger W01,Arial,Sans-serif, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--page-background-colour);
    color: var(--page-text-colour);
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
    word-break: break-word;
}

h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.25;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.33333;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
}

h4 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.55556;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
}

h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
}


 /* Fragment styles */
.position-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.width-container {
    width: 100%;
    /*max-width: calc(var(--site-max-width) + 3rem);*/
    max-width: var(--site-max-width);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--header-background-colour);
    color: var(--header-text-colour);
    font-size: 1rem;;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header-items div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 1150px) {
    .header-items {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header-logo {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.header-logo:hover .nhs-logo {
    box-shadow: 0 0 0 4px #003d78;
    cursor: pointer;
}

.nhs-logo {
    height: 40px;
    width: 100px;
    border: 0
}

.nhs-logo .nhs-logo-background {
    fill: white;
}

.nhs-logo .nhs-logo-text {
    fill: var(--header-background-colour)
}

.nhs-icon-chevron-down {
    fill: #fff;
    height: 24px;
    right: 4px;
    transform: rotate(90deg);
    width: 24px
}

.header-toggle-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-toggle-nav.active {
    background-color: var(--nav-active-colour);
    color: black;
    box-shadow: inset 0 -5px 0 black;
}

.header-toggle-nav.active .nhs-icon-chevron-down{
    transform: rotate(270deg);
    fill: black;
}

.header-toggle-nav:hover {
    cursor: pointer;
}

.collapse-nav {
    background-color: var(--header-background-colour);
    color: var(--header-text-colour);
}

.nav-items-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 40.0525em) {
    .nav-items-container {
        flex-direction: column;
    }
}

.nav-item {
    display: flex;
    /*flex-direction: column;*/
}

.nav-form {
    display: flex;
}

.nav-link-button {
    background: none;
    border: none;
    color: var(--header-text-colour);
    text-decoration: underline;
    cursor: pointer;
}

.nav-link {
    padding: 1rem;
    font-size: 1rem;
    text-decoration: underline;
    color: var(--header-text-colour);
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link:focus {
    background-color: var(--nav-active-colour);
    box-shadow: inset 0 -5px 0 black;
    color: black;
    outline: 4px solid rgba(0,0,0,0);
    text-decoration: none
}

/*a:visited {*/
/*    color: #330072*/
/*}*/

/*a:focus:visited {*/
/*    color: #212b32*/
/*}*/

.footer {
    background-color: var(--footer-background-colour);
    color: var(--footer-text-colour);
    margin-top: auto;
    border-top: 5px solid var(--header-background-colour);
}

.footer-items-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 40.0525em) {
    .footer-items-container {
        flex-direction: column;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item a {
    padding: 1rem;
    text-decoration: underline;
    color: var(--footer-text-colour);
}

.footer-item a:hover {
    text-decoration: none;
    color: var(--footer-link-highlight-colour);
}

.footer-item a:focus {
    background-color: var(--nav-active-colour);
    box-shadow: inset 0 -5px 0 black;
    color: black;
    outline: 4px solid rgba(0,0,0,0);
    text-decoration: none
}

/* Page styles */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.page-container {
    width: 100%;
    max-width: var(--site-max-width);
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: var(--page-background-colour);
    color: var(--page-text-colour);
    padding-top: 2rem;
}

@media (max-width: 1150px) {
    .page-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


