<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Arm Lymphoedema Information</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Arm lymphoedema</a>
                    </li>

                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>
        <p>Information source: <a href="https://www.uhdb.nhs.uk/service-lymphoedema">University Hospital of Derby and Burton</a>, <a href="http://www.lymphoedema.org">The Lymphoedema Support Network (LSN)</a></p>

        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>
            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#info">General Information for Arm Lymphoedema</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#risk">Risk Factors</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#diagnosis">Diagnosis</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#guides">Guides</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#taking-measurements">Taking Measurements</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#taking-photos">Taking Photos</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#performing-exercises">Performing Exercises</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#donning-and-doffing">Donning and Doffing</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#bandaging">Compression Bandaging of the Arm</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#treatment">Treatment</a>
                </li>
            </ol>
        </nav>

        <h1 id="info">Arm lymphoedema</h1>
        <p>
            <b>
                Arm is one of the most usual parts which will have lymphoedema. It's not possible to completely prevent lymphoedema, but the following advice may help reduce your chances of developing it.
            </b>
        </p>

        <h2>Information</h2>
        <p>Arm lymphoedema is a swelling that occurs in the soft tissues of the arm due to an impaired lymphatic system. This may result from treatments such as surgery or radiation that affect the lymph nodes, leading to fluid retention and tissue swelling. Understanding and managing this condition is crucial, especially for those who have undergone cancer treatments.</p>
        <h2 id="risk">Risk Factors</h2>
        <p>Several factors can increase the risk of developing arm lymphoedema, including:</p>
        <ul>
            <li>Extensive surgery or radiation therapy around the arm region</li>
            <li>Obesity or being overweight</li>
            <li>Infection or injury to the lymphatic system</li>
            <li>Pre-existing venous conditions</li>
            <li>Lack of physical activity or movement post-surgery</li>
        </ul>
        <h2 id="diagnosis">Diagnosis</h2>
        <p>Diagnosis of arm lymphoedema is typically made through a combination of physical examination and imaging techniques such as lymphoscintigraphy, which helps visualize the lymphatic system. Your healthcare provider may also use measurements and patient history to assess the extent and impact of the swelling.</p>
        <h2 id="guides">Guides</h2>
        <details class="nhsuk-details nhsuk-expander" id="taking-measurements">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Taking Measurements</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>We ask that you measure at 7 different points on your hand and arm, please familiarise yourself with the pictorial guide as this will help determine your measuring points</p>
                <ul>
                    <li>measure A is the base of the fingers</li>
                    <li>measure B is at the base of the thumb web</li>
                    <li>measure C is the wrist </li>
                    <li>measure D is the mid forearm </li>
                    <li>measure E is the elbow slightly bent </li>
                    <li>measure F is the mid upper arm </li>
                    <li>measure G is at the top of the arm level with the armpit</li>
                </ul>
                <p>Try and measure at the same time of the day on the same day once a week</p>
                <p>Support your arm on a flat surface eg a table top with palm facing upwards (see picture) </p>
                <p>Please record baseline measures prior to starting the compression wrap treatment - </p>
                <p>ideally we would like you to measure in the same 7 places each week, this can be done using steps 1 and 2</p>
                <p>Step 1 - determine your 7 measuring points using the marker pen (the marks can be washed off after you’ve measured each time) these points are at the base of the fingers (measure A), base of the thumb web (measure B), wrist (measure C), mid forearm (measure D), elbow (slightly bent, measure E) mid upper arm (measure F) and top of arm (measure G)</p>
                <p>Step 2- using a tape measure record the length from the wrist (measure C)  to the mark you have chosen as measure D (mid forearm) and document that length at the top of the measurements and on the pictorial sheet, continue to record the lengths from the wrist to the elbow (measure E), then wrist to mid upper arm (measure F) and finally wrist to top of the arm (measure G) by doing this you will be able to ensure that you are measuring at a similar point each week</p>
                <p>Step 3 - measure the circumference at each of the 7 points and record them on the '1st day' row in the appropriate column</p>
                <p>Step 4 - apply compression hand and arm wraps as guided by the manufacturers booklet. Wraps are to be worn day and night, removing for showering, skin inspection, hand washing</p>
                <p>Step 5 - measure the 7 points each week</p>
                <p><a th:href="@{/contact-us}">Please contact clinic with any queries.</a></p>
                <p>
                    <b>Measuring points for arm:</b>
                </p>

                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure1.jpg" alt="arm1">
                    <figcaption class="nhsuk-image__caption">
                        <ul>
                            <li>A = circumference at base of fingers</li>
                            <li>B = circumference of hand at web of thumb</li>
                            <li>C = circumference at wrist</li>
                        </ul>
                    </figcaption>
                </figure>

                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure2.jpg" alt="arm2">
                    <figcaption class="nhsuk-image__caption">
                        <ul>
                            <li>D = circumference at mid-point of wrist and elbow</li>
                            <li>E = circumference at elbow (slightly bent)</li>
                            <li>F = circumference at mid-point of elbow and armpit </li>
                            <li>G = circumference at top of arm</li>
                        </ul>
                    </figcaption>
                </figure>

                <p>Measure length C-D</p>
                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure3.jpg" alt="arm3">
                    <figcaption class="nhsuk-image__caption">
                        <p>Length C-D = ___ cm</p>
                    </figcaption>
                </figure>

                <p>Measure length C-E</p>
                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure4.png" alt="arm4">
                    <figcaption class="nhsuk-image__caption">
                        <p>Length C-E = ___ cm</p>
                    </figcaption>
                </figure>

                <p>Measure length C-F (Press down the tape measure length C – G Measure in the angle of the elbow.)</p>
                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure5.jpg" alt="arm5">
                    <figcaption class="nhsuk-image__caption">
                        <p>Length C-F = ___ cm</p>
                    </figcaption>
                </figure>

                <p>Measure length C-G</p>
                <figure class="nhsuk-image">
                    <img class="nhsuk-image__img" src="/assets/images/armMeasure6.jpg" alt="arm6">
                    <figcaption class="nhsuk-image__caption">
                        <p>Length C-G = ___ cm</p>
                    </figcaption>
                </figure>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="taking-photos">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Taking Photos</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Photographic documentation helps to visually track changes in swelling and other symptoms over time. To take effective photos, use the same lighting and angles for consistency, and photograph the affected areas at regular intervals, such as weekly or monthly.</p>
                <p>This visual record can be a valuable tool in assessing the effectiveness of your treatment and can provide clear evidence of changes to share with your healthcare provider.</p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="performing-exercises">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Performing Exercises</span>
            </summary>
            <div class="nhsuk-details__text">
                <h3>Why exercise?</h3>
                <p>There any many physical and mental benefits to exercise.</p>
                <p>These exercises are aimed at encouraging lymph drainage, and improving joint movement.</p>
                <p>Exercise is individual and can come in many forms. Housework, gardening and walking the dog count as exercise. As does swimming and walking.</p>
                <p>Exercise in water is beneficial– the pressure of the water aids lymphatic drainage and the buyouncy takes the weight off of a heavy limb. Talk to your therapist if you would like advice.</p>
                <p>Gentle forms of exercise such as yoga and pilates is also beneficial– there are many groups that can be accessed as well as online videos and classes. Talk to your therapist ?include list of links to nhs choices in booklet</p>
                <h3>Tips/Cautions</h3>
                <p>Always wear your compression garments whilst exercising</p>
                <p>Start slowly and gradually build up the amount of exercise.</p>
                <p>If you begin to feel unwell, or your affected limb feels tired/aching, ease off or stop and consult your therapist.</p>
                <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">
                        <span role="text">
                            <span class="nhsuk-u-visually-hidden">Important: </span>
                                Important!
                        </span>
                    </h3>
                    <p>Perform these exercises slowly. Try to incorporate them into your daily routine.</p>
                </div>
                <h3>Exercise 1. Deep breathing.</h3>
                <p>Sit or lie with your hands resting just below you ribs and your shoulder relaxed. Take a slow breath in through your nose, then out through your mouth. Feel your abdomen rise and fall.</p>
                <p>Repeat 5 times.</p>
                <h3>Exercise 2. Shoulder Circling</h3>
                <p>Circle your shoulders forwards 5 times.</p>
                <p>Circle your shoulders backwards 5 times.</p>
                <h3>Exercise 3. Shoulder Shrugs</h3>
                <p>Raise your shoulders up towards your ears, then push them down again.</p>
                <p>Repeat 5 times.</p>
                <h3>Exercise 4. Shoulder Abduction</h3>
                <p>Start with your arms by your sides, raise them up to the side with your thumbs leading, above your head.</p>
                <h3>Exercise 5. Shoulder Elevation</h3>
                <p>Reach out infront of you and clasp your hands together. Lift your arms up as high as you can aiming up over your head.Slowly lower them down.</p>
                <p>Repeat 5 times</p>
                <h3>Exercise 6.Elbow Flexion/Extension</h3>
                <p>With your arm by your side bend your elbow to touch your hand to your shoulder.</p>
                <p>Repeat on both sides 5 times.</p>
                <h3>Exercise 7. Wrist Circling</h3>
                <p>Circle your wrist 10 times clockwise, 10 times anti clockwise.</p>
                <p>Bend your wrist pointing your fingers to the floor then ceiling 10 times.</p>
                <p>Turn your hand palm to the ceiling then palm to the floor 10 times.</p>
                <h3>Exercise 8. Finger Flexion/Extension</h3>
                <p>Make a fist, then straighten your fingers. Repeat 10 times</p>
                <h3>Exercise 9. Deep Breathing</h3>
                <p>Sit or lie with your hands resting just below you ribs and your shoulder relaxed. </p>
                <p>Take a slow breath in through your nose, then out through your mouth. Feel your abdomen rise and fall. </p>
            </div>
        </details>
        <details class="nhsuk-details nhsuk-expander" id="donning-and-doffing">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Donning and Doffing</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>You have been given wraps to reduce or manage your swollen arm </p>
                <p>There are different makes of Velcro wraps. Basically, they are very much the same. </p>
                <p>Your wraps will have arrived with written instructions and maybe pictures on how to put on your wraps. To help you we have also put together some videos which might help you too.</p>
                <p>A good tip is to always remember to turn the velcro straps back on themselves once, then twice, to prevent the velcro sticking to everything and getting in a tangle! If you do this as and when you take off the wraps, it will make it much easier to put them on the next time.</p>
                <h3>Wraps for Arm and Hands</h3>
                <ul>
                    <li>We always advise you wear a glove underneath your hand piece.</li>
                    <li>Never wear the arm wrap without the hand wrap unless you have been advised to do so</li>
                    <li>Ensure there is no gap between the hand and arm pieces at the wrist</li>
                    <li>Wear the wraps as advised by your therapist</li>
                    <li>Regularly adjust the wrap throughout the day as it may become loose as swelling reduces.</li>
                    <li>Adjust or loosen the wrap if it feels uncomfortable or you get pins and needles or blue fingers./li>
                    <li>Remove the wrap if you have a sudden onset of shortness of breathe</li>
                    <li>Remove the wrap if you develop any skin allergy to the material</li>
                </ul>
                <p>Please select the appropriate make for the wrap you have been provided with.</p>
                <h3>Haddenham Easy Wrap for Arm and hand</h3>
                <p>How to apply the Haddenham Easywrap for the Arm - <a href="https://youtu.be/XN5jDbOXSOo">Link</a> </p>
                <p>How to apply the Haddenham Easywrap for the Hand - <a href="https://youtu.be/ci9-WlNEW8k">Link</a></p>
                <h3>Jobst Farrowwrap for arm and hand supplied by Essity/BSN</h3>
                <p>How to apply the Farrowwrap hand and arm pieces - <a href="https://youtu.be/8roSCOJUXHE?list=PLZpegAc41YsLTI1D51tzguKDD59dY5Cvx">Link</a></p>
                <h3>Juzo ACS Light Arm and Hand pieces</h3>
                <p>How to apply the Juzo ACS Arm and hand - <a href="https://youtu.be/5Xroar_DoTw">Link</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="bandaging">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Compression bandaging of the arm</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Multi layer compression bandaging is carried out for limbs that are:</p>
                <ul>
                    <li>An unsuitable shape for fitting hosiery</li>
                    <li>Large</li>
                    <li>Have fragile skin</li>
                    <li>Leaking fluid (lymphorrhoea)</li>
                </ul>
                <p>The bandaging is done for 2 - 3 weeks and consists of a stockinette to protect the skin, padding to improve limb shape, a compression bandage and finally another layer of stockinette.</p>
                <p>Please ensure that you wear clothes with loose/large sleeves as your arm will be larger when bandaged.</p>
                <p>We would expect a small daily reduction of the swelling, therefore the bandage needs to be reapplied regularly (Mon to Fri) to maintain compression. It is left on over the weekend.</p>
                <p>Fluid will move back into your system - which may result in you passing more water initially.</p>
                <h3>First attendance</h3>
                <p>Your first attendance will take approximately 1 hour.</p>
                <p>The circumference of both arms will be measured.</p>
                <p>You will be unable to wash your arm yourself during the treatment, so it will be washed and moisturising cream will be applied.</p>
                <p>Your thumb, fingers and hand will be bandaged with a flexible bandage (to allow some movement). The multi layer bandage will then be applied from the hand to the top of your arm.</p>
                <p>You will experience limited movement in your arm, especially at the elbow.</p>
                <p>Please try to continue actively moving your arm as this will also help fluid to drain.</p>
                <p>When resting, try to keep your arm as straight as possible as this will relieve the pressure on your elbow.</p>
                <p><b>The bandage should feel firm but not uncomfortable.</b></p>
                <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">
                        <span role="text">
                            <span class="nhsuk-u-visually-hidden">Important: </span>
                                If you experience any of the following:
                        </span>
                    </h3>
                    <ul>
                        <li>Pain</li>
                        <li>Discolouration of fingers</li>
                        <li>Numbness of fingers</li>
                    </ul>
                    <p><b>Remove the bandage and inform a therapist of the reason for the removal at your next attendance.</b></p>
                </div>
                <h3>Subsequent attendances</h3>
                <p>Subsequent attendance should take approximately 1 hour.</p>
                <p>The bandages will be removed. Your arm will be washed and moisturising cream will be applied. The bandages will be reapplied.</p>
                <p>Towards the end of treatment your arm will be measured again and suitable compression garment fitted.</p>
                <p>Please note: You may find driving difficult with your fingers and arm bandaged, so please try to find a relative or friend to bring you to and from the clinic.</p>
                <p>We advise you to contact your insurance company before you drive to make them aware of the treatment you are having.</p>
            </div>
        </details>
        <details class="nhsuk-details nhsuk-expander" id="treatment">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Treatment</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Treatment for head and neck lymphoedema typically involves a combination of physical therapy, compression garments, and exercises. In some cases, specialized massage techniques such as Manual Lymphatic Drainage (MLD) may be recommended to help stimulate lymph flow and reduce swelling.</p>
                <p>For many people, Self-Lymphatic Drainage (SLD) is a valuable tool for lymphoedema management. It is a gentle form of massage that aims to move lymph fluid from an area that is congested to one that is more able to process the fluid.</p>
                <p>If you are requested by the healthcare provider to perform SLD, please following this video - <a href="https://youtu.be/kLFq5ZZYeL0?si=N28N9o5hfuTIrbXR">Link</a> </p>
            </div>
        </details>
    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>