<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Breast Lymphoedema Information</title>
    <!-- Add any extra javascript file references here -->
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Breast Lymphoedema</a></li>
                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>

        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>
            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#info">General Information</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#symptoms">Symptoms</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#diagnosis">Diagnosis</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#risk">Risk Factors</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#management">Management and Treatment</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#self-care">Self-Care and Exercises</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#guides">Guides</a>
                </li>
            </ol>
        </nav>

        <h1 id="info">Breast Lymphoedema</h1>
        <p class="nhsuk-body">
<!--            <b>-->
                Breast lymphoedema is a condition that can arise after breast cancer treatment, particularly following surgery or radiation therapy. It is characterized by swelling in the breast due to the accumulation of lymphatic fluid. Early recognition and management are essential to prevent further complications and improve the patient's quality of life.
<!--            </b>-->
        </p>

        <h2 id="symptoms">Symptoms</h2>
        <p>Common symptoms include:
        <ul>
            <li>Swelling in the breast</li>
            <li>A feeling of heaviness or tightness</li>
            <li>Skin changes such as thickening or redness</li>
            <li>Discomfort or pain in the affected area</li>
        </ul>
        <p>These symptoms may develop gradually and can worsen over time if not properly managed.</p>

        <h2 id="diagnosis">Diagnosis</h2>
        <p>Diagnosis involves a combination of clinical examination, patient history, and sometimes imaging tests like lymphoscintigraphy. Regular monitoring and measurements of the affected area are crucial to assess the extent of lymphoedema and guide appropriate treatment.</p>

        <h2 id="risk">Risk Factors</h2>
        <p>Risk factors for developing breast lymphoedema include:
        <ul>
            <li>Extensive breast surgery or radiation therapy</li>
            <li>Infections or injuries affecting the lymphatic system</li>
            <li>Being overweight or obese</li>
            <li>Physical inactivity</li>
            <li>Pre-existing venous conditions</li>
        </ul>
        <p>These factors can increase the likelihood of lymphoedema and should be considered when planning preventive measures.</p>

        <h2 id="management">Management and Treatment</h2>
        <p>Consistent management is key to reducing the impact of lymphoedema and improving the patient’s quality of life.</p>
        <p>Management strategies for breast lymphoedema include:
        <ul>
            <li><b>Manual Lymphatic Drainage (MLD):</b> A specialized massage technique designed to encourage the movement of lymph fluid.</li>
            <li><b>Compression Garments:</b> The use of compression bras or bandages to help reduce swelling.</li>
            <li><b>Exercise:</b> Gentle exercises that promote lymphatic drainage and improve mobility.</li>
            <li><b>Skin Care:</b> Regular skin care routines to prevent infections and maintain skin integrity.</li>
            <li><b>Healthy Lifestyle:</b> Maintaining a healthy weight through balanced nutrition and regular physical activity is crucial to managing lymphoedema.</li>
        </ul>
        </p>

        <h2 id="self-care">Self-Care and Exercises</h2>
        <p>Engaging in daily self-care is essential in managing breast lymphoedema. Key practices include:
        <ul>
            <li><b>Daily Exercises:</b> Perform prescribed exercises to encourage lymph flow, such as arm movements and deep breathing exercises.</li>
            <li><b>Skin Care:</b> Regular moisturizing to prevent dryness and cracking, which reduces the risk of infections.</li>
            <li><b>Compression Garments:</b> Wear compression garments as prescribed to maintain lymphatic drainage.</li>
            <li><b>Monitoring:</b> Keep track of any changes in the affected area and promptly report them to your healthcare provider.</li>
        </ul>
        </p>

        <h2 id="guides">Guides</h2>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Taking Measurements</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>To measure your arm and hand, follow these steps:
                <ul>
                    <li>Measure at 7 different points: base of the fingers, base of the thumb web, wrist, mid-forearm, elbow (slightly bent), mid-upper arm, and top of the arm level with the armpit.</li>
                    <li>Support your arm on a flat surface, such as a table, with the palm facing upwards.</li>
                    <li>Record baseline measures prior to starting treatment, and continue to measure weekly.</li>
                </ul>
                </p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Taking Photos</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>For accurate photos:
                <ul>
                    <li>Use a solid background and ensure good lighting.</li>
                    <li>Take a photo 2 feet away from the area, then a close-up about 1 foot away to show details.</li>
                    <li>Ensure the image is in focus and not blurred before sending.</li>
                </ul>
                </p>
                <p class="nhsuk-body">The guidance for taking photos using your smart phone can be found here: <a
                        class="nhsuk-link" target="_blank" th:href="@{/information/photo_guidance}">Photo
                    Guidance (opens in new tab)</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Performing Exercises</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>To promote lymphatic flow and improve mobility:
                <ul>
                    <li>Engage in daily exercises tailored to your condition, such as arm movements and deep breathing exercises.</li>
                    <li>Wear your compression garment during exercises to maximize effectiveness.</li>
                    <li>Consult with your lymphoedema specialist to ensure exercises are performed correctly and safely.</li>
                </ul>
                </p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Donning and Doffing</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>When applying and removing compression garments:
                <ul>
                    <li>Use rubber gloves to help grip and apply the garment evenly.</li>
                    <li>Smooth out any wrinkles to avoid increasing pressure in specific areas.</li>
                    <li>Remove the garment by rolling it down gently, rather than pulling it off quickly.</li>
                </ul>
                </p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Compression Bandaging of the Arm</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>For effective compression bandaging:
                <ul>
                    <li>Follow the specific instructions provided by your healthcare provider regarding the bandaging technique.</li>
                    <li>Monitor the condition of your skin regularly, and report any changes such as redness or increased discomfort.</li>
                    <li>Remove bandages if you experience pain, numbness, or significant discomfort and contact your clinic for guidance.</li>
                </ul>
                </p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Treatment</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>General treatment guidelines for breast lymphoedema include:
                <ul>
                    <li>Regular consultations with your lymphoedema specialist to monitor progress and adjust treatment as needed.</li>
                    <li>Use of compression garments, Manual Lymphatic Drainage (MLD), and appropriate exercises to manage swelling.</li>
                    <li>Consistent skin care routines to prevent infections and maintain skin health.</li>
                </ul>
                </p>
            </div>
        </details>
        <br><p>Information sources: <a href="https://www.lymphoedema.org/">Lymphoedema Support Network</a>, <a href="https://www.macmillan.org.uk/cancer-information-and-support/impacts-of-cancer/lymphoedema">Macmillan Cancer Support</a>, <a href="https://www.cancerresearchuk.org/about-cancer/breast-cancer/treatment/side-effects/lymphoedema">Cancer Research UK</a></p>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>
