<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Head and neck lymphoedema Information</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <!-- Sources Section -->
        <p>Information source: <a href="http://www.lymphoedema.org">The Lymphoedema Support Network (LSN)</a>, <a href="https://www.nhs.uk/conditions/lymphoedema/">NHS Health Guide</a>, <a href="https://www.thebls.com/">British Lymphology Society (BLS)</a>, <a href="https://www.macmillan.org.uk/">Macmillan Cancer Support</a>, <a href="https://www.uhdb.nhs.uk/service-lymphoedema">University Hospital of Derby and Burton - Lymphoedema Service Patient Information</a></p>
        
        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Head and neck lymphoedema</a>
                    </li>

                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>

        <h1>Head and neck lymphoedema</h1>
        <section>
            <h2>What is Head and Neck Lymphoedema?</h2>
            <p>Head and neck lymphoedema is a condition where swelling occurs in the soft tissues of the head and neck due to a malfunctioning lymphatic system. This often arises from treatments like surgery or radiation that impact lymph nodes.</p>
        </section>

        <h2>Information</h2>

        <h2>Guides</h2>
        <h3>Taking Measurements</h3>
        <h3>Taking Photos</h3>
        <h3>Performing exercises</h3>
        <h3>Donning and doffing</h3>
        <h3>Using compression garments</h3>

        <!-- Sources Section -->
        <section>
            <h2>Sources</h2>
            <p>This information was adapted from the following sources:</p>
            <ul>
                <li>The Lymphoedema Support Network (LSN)</li>
                <li>NHS Health Guide</li>
                <li>British Lymphology Society (BLS)</li>
                <li>Macmillan Cancer Support</li>
                <li>University Hospital of Derby and Burton - Lymphoedema Service Patient Information</li>
            </ul>
        </section>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>