<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Leg Lymphoedema Information</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Leg lymphoedema</a>
                    </li>

                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>

        <nav class="nhsuk-nav-a">
            <ul>
                <li><a href="#what-is">What is Leg Lymphoedema?</a></li>
                <li><a href="#causes">Causes</a></li>
                <li><a href="#symptoms">Symptoms</a></li>
                <li><a href="#risk-factors">Risk Factors</a></li>
                <li><a href="#diagnosis">Diagnosis</a></li>
                <li><a href="#guides">Guides</a></li>
                <li><a href="#treatment">Treatment</a></li>
            </ul>
        </nav>

        <h1>Leg Lymphoedema</h1>

        <h2>Information</h2>


        <h2>Guides</h2>
        <h3>Taking Measurements</h3>
        <h3>Taking Photos</h3>
        <h3>Performing exercises</h3>
        <h3>Donning and doffing</h3>
        <h3>Using compression garments</h3>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>