<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Leg Lymphoedema Information</title>

    <link rel="stylesheet" href="/css/image-enlarge.css">

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <!-- Information Sources -->
        <p>Information sources:
            <a href="https://legsmatter.org/information-and-support/health-concerns/oedema-and-lymphoedema/">Legs
                Matter</a>,
            <a href="https://www.nhs.uk/conditions/lymphoedema/">NHS Health Guide</a>,
            <a href="https://www.uhdb.nhs.uk/service-lymphoedema">University Hospital of Derby and Burton - Lymphoedema
                Service Patient Information
            </a></p>

        <!-- Breadcrumb Navigation -->
        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a>
                    </li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Leg Lymphoedema</a>
                    </li>
                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>

        <!-- Page Navigation -->
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>
            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#overview">Overview</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#symptoms">Symptoms</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#causes">Causes</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#diagnosis">Diagnosis</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#treatments">Treatments</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#prevention">Prevention</a>
                </li>
            </ol>
        </nav>

        <h1>Leg Lymphoedema</h1>

        <section>
            <h2 id="overview">Overview</h2>
            <p class="nhsuk-body-l">
                Sometimes our legs or feet become swollen and feel uncomfortable. This is known as oedema and it happens
                when fluid in our lower legs or feet has trouble returning back up through the body. It may be a
                temporary problem such as after a long flight when it is a way of our body telling us we need to move
                around more.
                It is the lymphatic system of vessels, like veins, that work to remove this excess fluid and along with
                it,
                various toxins that the body needs to excrete via the kidneys.
            </p>
            <p class="nhsuk-body-l">However, for the lymphatic system to do its job well, needs to be stimulated by
                regular movement of
                muscle and skin. Temporary swelling is a sign that we need to move around a bit more and stretch our
                ankles and
                calf muscles. It usually goes away quite quickly once we start to move around.
            </p>

            <p class="nhsuk-body-l">If swelling of the feet, ankles or legs persists for more than 3 months it is called
                chronic oedema. Although there are several causes of chronic oedema which need to be treated, oedema that does not
                completely resolve overnight or with elevation, indicates that the function of the lymphatic system is beginning to
                fail and is a sign of early lymphoedema (lymphatic failure).
            </p>
            <p class="nhsuk-body-l">All chronic oedema, regardless of initial cause, indicates a degree of lymphoedema.
                If not treated, it
                can lead to changes in the skin and deeper tissues. It can also lead to infection (cellulitis).
                Lymphoedema
                in the lower limbs is commonly related to chronic venous insufficiency.
            </p>
        </section>

        <section>
            <h2 id="causes">What can cause legs and feet to swell? - Lymphoedema</h2>
            <p class="nhsuk-body">
                The lymphatic system can be thought of as a waste disposal system that takes tissue fluid and waste
                products away from the tissues around your skin, fat, muscle and bone.
            </p>
            <p class="nhsuk-body">Once the tissue fluid is inside the lymphatic vessels, which are just under the
                surface of our skin, it
                becomes known as ‘lymph’. Lymph is then transported in one direction by larger and deeper lymphatic
                vessels.
            </p>
            <p class="nhsuk-body">Lymph moves when we are active and when we breathe deeply, so any physical activity
                helps the lymph
                vessels work better and prevent or reduce any swelling. Being active is an essential part of treatment.
            </p>
            <p class="nhsuk-body">Some people may be born with a tendency to develop it because of the way their
                lymphatic system formed.
                However, it may arise for many other reasons which cause the lymphatic system to find it difficult to
                work properly such as problems with our veins, repeated infections (cellulitis), cancer treatment
                involving surgery or radiotherapy in the pelvis or lower limbs.
            </p>
            <p class="nhsuk-body">Some joint surgery may also damage lymphatic vessels and contribute to development of
                lymphoedema.
                However, the biggest risk factors for developing lymphoedema are being overweight and inactive so it is
                vital to address these issues as part of the management of the condition.
            </p>
            <p class="nhsuk-body">Any form of swelling which does not reduce and has been present for longer than 3
                months suggests there
                is a problem with the lymphatic system and could be called lymphoedema. There are therefore many causes
                of lymphoedema, it is important that a good assessment is carried out to make sure the best treatment
                is being given depending on the cause of the problem.
            </p>
        </section>

        <section>
            <h2 id="diagnosis">Getting your lymphoedema diagnosed</h2>
            <p class="nhsuk-body">
                If your legs or feet are swollen, it is necessary to make an appointment with the GP practice, who will
                be able to diagnose or exclude conditions such as cardiac problems. The GP may make a referral to a
                nurse responsible for caring for patients with venous leg problems or a lymphoedema clinic.
            </p>
        </section>

        <section>
            <h2 id="treatments">What treatment will I be offered for lymphoedema of the legs?</h2>
            <p class="nhsuk-body">
                The treatment for swollen legs depends on what has caused the swelling. The earlier the cause of oedema
                is identified and treated, the better the outcome. With prompt, appropriate treatment, swelling will be
                reduced, wounds will heal more quickly and complications, such as cellulitis, will be avoided.
            </p>

            <h2 id="guides">Treatment Guides</h2>
            <details class="nhsuk-details nhsuk-expander" id="taking-measurements">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">Taking Measurements</span>
                </summary>
                <div class="nhsuk-details__text">
                    <p class="nhsuk-u-font-weight-bold">How to measure your leg</p>
                    <p class="nhsuk-body">Please follow the guide underneath to take measurements of each leg. You will
                        need a soft tape measure and eyeliner or pen to mark the areas show above on the leg (we can
                        provide these if required).
                        Please measure each leg and enter the lengths (height from your heel) and circumferences (width
                        around
                        your leg. Please record you 1st measurements on this side of the sheet and there is a table for
                        measurements if we ask you to repeat them.
                    </p>
                    <p class="nhsuk-u-font-weight-bold">Hints & Tips</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>Measurements can be done sitting / laying with legs elevated or standing but should be
                            repeated in the same position.
                        </li>
                        <li>Please lay the tape measure on the leg when measuring—do not apply any tension.</li>
                        <li>Please take measurements 1st thing in the morning if possible.</li>
                        <li>Measurements of lengths should always be taken from the outside of the leg.</li>
                        <li>Login as a user and use the Diary App to keep track of your measurements.</li>
                    </ul>
                    <div style="display: flex; justify-content: center;">
                        <a href="#enlarge">
                            <figure class="nhsuk-image">
                                <img width="100%" height="auto" class="nhsuk-image__img"
                                     src="/assets/images/how-to-measure-leg.jpg" alt="How to measure your leg">
                            </figure>
                        </a>
                    </div>

                    <div id="enlarge" class="modal">
                        <a href="#b" class="close">&times;</a>
                        <img src="/assets/images/how-to-measure-leg.jpg" alt="Enlarged Image">
                    </div>
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander" id="taking-photos">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">Taking Photos</span>
                </summary>
                <div class="nhsuk-details__text">
                    <p class="nhsuk-body">Please follow the guidance on taking pictures using your smart phone here: <a
                            class="nhsuk-link" target="_blank" th:href="@{/information/photo_guidance}">Photo
                        Guidance (opens in new tab).</a></p>
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander" id="donning-and-doffing">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">Donning and Doffing</span>
                </summary>
                <div class="nhsuk-details__text">
                    <h3>Guidance on how to apply and manage wraps</h3>
                    <p class="nhsuk-body">
                        You have been given wraps to reduce or manage your swollen arm or leg.
                    <p class="nhsuk-body">There are different makes of Velcro wraps. Basically, they are very much the
                        same.
                    </p>
                    <p class="nhsuk-body">Your wraps will have arrived with written instructions and maybe pictures on
                        how to put on your wraps. To help you we have also put together some videos which might help you
                        too.
                    </p>
                    <p class="nhsuk-body">A good tip is to always remember to turn the Velcro straps back on themselves
                        once, then twice, to prevent the Velcro sticking to everything and getting in a tangle! If you
                        do this as and when you take off the wraps, it will make it much easier to put them on the next
                        time.
                    </p>
                    <p class="nhsuk-u-font-weight-bold">Wraps for Leg and Foot</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>We always advise you wear toe caps underneath your foot wrap.</li>
                        <li>Never wear the leg wrap without the foot wrap unless you have been given a liner which has compression in the foot area.</li>
                        <li>Apply the foot piece and then the leg piece/s working up the leg.</li>
                        <li>Wear the wraps as advised by your therapist</li>
                        <li>Regularly adjust the wrap throughout the day as it may become loose as swelling reduces.</li>
                        <li>Adjust or loosen the wrap if it feels uncomfortable or you get pins and needles or blue toes.</li>
                        <li>Remove the wrap if you have a sudden onset of shortness of breathe</li>
                        <li>Remove the wrap if you develop any skin allergy to the material</li>
                    </ul>
                    <p class="nhsuk-u-font-weight-bold"><strong>Please select the appropriate make for the wrap you have been provided with:</strong></p>

                    <p class="nhsuk-u-font-weight-bold">Haddenham Easy Wrap for Legs and feet</p>
                    <p class="nhsuk-body">How to apply the Easywrap Foot piece - <a target="_blank" href="https://youtu.be/CnRygwScXDc">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Easywrap Leg piece - <a target="_blank" href="https://youtu.be/XhKMTt-RYzo">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Easywrap Thigh piece + Knee piece - <a target="_blank" href="https://youtu.be/IoWDprUJzps">Youtube (opens in new tab)</a></p>

                    <p class="nhsuk-u-font-weight-bold">Jobst Farrowwrap for legs and feet supplied by Essity/BSN</p>
                    <p class="nhsuk-body">How to apply the Farrowwrap Full leg - <a target="_blank" href="https://www.youtube.com/watch?v=vOJh3L-uTHI">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Farrowwrap Foot piece - <a target="_blank" href="https://www.youtube.com/watch?v=338aVIZuNcg">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Farrowwrap Leg piece - <a target="_blank" href="https://youtu.be/x6XkMfQZFok?list=PLZpegAc41YsLTI1D51tzguKDD59dY5Cvx">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Farrowwrap Thigh piece - <a target="_blank" href="https://www.youtube.com/watch?v=k40G-3llErc">Youtube (opens in new tab)</a></p>
                    <p class="nhsuk-body">How to apply the Farrowwrap Knee piece - <a target="_blank" href="https://www.youtube.com/watch?v=iwO3cA_ZVxA">Youtube (opens in new tab)</a></p>

                    <p class="nhsuk-u-font-weight-bold">Juzo ACS Light – usually black in colour</p>
                    <p class="nhsuk-body">Please not that these are slightly different in that you slide in your leg</p>
                    <p class="nhsuk-body">How to apply the Juzo Leg and foot pieces - <a target="_blank" href="https://youtu.be/U7tDpdQsTeI">Youtube (opens in new tab)</a></p>

                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander" id="bandaging">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">Compression Bandaging of the Leg</span>
                </summary>
                <div class="nhsuk-details__text">
                    <p class="nhsuk-u-font-weight-bold">Use of Velcro Wrap for Reducing Leg Oedema</p>
                    <p class="nhsuk-body">Your Velcro wrap needs to be applied 1st thing in the morning when you get up and can be removed last thing at night before you go to bed. Sometimes we advise 24-hour wrap wear which will require you to sleep in it.  Your therapist will advise you if this is required. We advise daily moisturiser, if applying once a day we recommend applying this at night when the wrap is removed before bed, but it is ok then to apply the cream under the liner if this is required.  Please do continue to carry out your daily activities and any exercises with your wrap on as this should improve the wraps effectiveness in reducing the oedema.</p>
                    <p class="nhsuk-u-font-weight-bold">Instructions</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>When applying the wrap, you will be required to gently stretch each band around the limb to ensure compression is applied.  The garment may feel like it is applying firm pressure to the limb but should not cause pain or pins and needles or changes in sensation.  Please initially try to adjust/ reduce the tension if you are experiencing these problems if they continue stop wearing the garment and contact your lymphoedema clinic to discuss your concerns.</li>
                        <li>Wrap care – we recommend washing the wraps either by hand or they can be washed on a 30-degree machine wash with a mild detergent, no fabric softener.  When washing the wrap, we recommend fastening the Velcro and placing the wrap in a laundry bag or a pillowcase. Please do not dry in a dryer or on a radiator.  Most wraps have more details in the manufacturer’s instructions with the wrap.  Whilst the liner needs washing every day or two the wrap only requires washing when needed.</li>
                        <li>Haddenham have an online video available for their Easy wrap <a target="_blank" href="https://hadhealth.com/easywrap-lower-limb">Link (opens in new tab)</a></li>
                    </ul>
                    <p class="nhsuk-u-font-weight-bold">Visual Instructions: How to apply a compression wrap with a compressive foot liner</p>
                    <div style="display: flex; justify-content: center;">
                        <a href="#enlarge2">
                            <figure class="nhsuk-image">
                                <img width="100%" height="auto" class="nhsuk-image__img"
                                     src="/assets/images/leg-velcro1.png" alt="Leg-velcro-1">
                            </figure>
                        </a>
                    </div>

                    <div id="enlarge2" class="modal">
                        <a href="#b"  class="close">&times;</a>
                        <img src="/assets/images/leg-velcro1.png" alt="Enlarged Image">
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <a href="#enlarge3">
                            <figure class="nhsuk-image">
                                <img width="100%" height="auto" class="nhsuk-image__img"
                                     src="/assets/images/leg-velcro2.png" alt="Leg-velcro-2">
                            </figure>
                        </a>
                    </div>

                    <div id="enlarge3" class="modal">
                        <a href="#b"  class="close">&times;</a>
                        <img src="/assets/images/leg-velcro2.png" alt="Enlarged Image">
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <a href="#enlarge4">
                            <figure class="nhsuk-image">
                                <img width="100%" height="auto" class="nhsuk-image__img"
                                     src="/assets/images/leg-velcro3.png" alt="Leg-velcro-3">
                            </figure>
                        </a>
                    </div>

                    <div id="enlarge4" class="modal">
                        <a href="#b"  class="close">&times;</a>
                        <img src="/assets/images/leg-velcro3.png" alt="Enlarged Image">
                    </div>
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander" id="treatment">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">Self Lymphatic Drainage (SLD)</span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>This is a specialised light massage technique that stimulates and reroutes lymph flow to viable drainage areas. A lymphoedema specialist will be able to decide if an individual may benefit from either a course of Manual Lymphatic Drainage (MLD) or learning how to undertake a modified version of this, which is called Self Lymphatic Drainage (SLD).</p>
                    <p>If you have been instructed by your healthcare provider to perform SLD, please follow this video - <a target="_blank"
                            href="https://youtu.be/XGspjYNAfeE?si=WFjbP5m9efmq5pq6">Link</a></p>
                </div>
            </details>
        </section>

        <section>
            <h2 id="prevention">Things you can do to help prevent and manage lymphoedema</h2>
            <p class="nhsuk-body">
                Although lymphoedema or chronic oedema can not necessarily be prevented we can definitely reduce the risk of it developing it. Seek advice if there is any swelling in your legs – prompt action always helps and it may be the reason for the swelling being treatable.
            </p>
            <p class="nhsuk-u-font-weight-bold">Here are some lifestyle changes you can make to help reduce swelling:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Learn how to <a target="_blank" href="https://legsmatter.org/information-and-support/skin-concerns/">care for your skin</a> and prevent <a target="_blank" th:href="@{/information/cellulitis}">cellulitis</a>. Swollen tissues are easily damaged, so care is needed to protect skin from injury, scratches, insect bites or sunburn. Lymphatic failure increases risk of infection, so keep skin clean by washing and careful drying, especially between the toes daily and applying a non-perfumed moisturiser to keep the skin supple.</li>
                <li>Adopt and maintain a healthy diet and weight.</li>
                <li>Be as active as possible. The ideal is to take light to moderate exercise such as swimming or walking for about thirty minutes at least three times a week. Being active while wearing compression is particularly effective. Even if with limited mobility, there are things that can be done to help to reduce swelling. Refer to the British Lymphology Society <a target="_blank" href="https://www.thebls.com/pages/everybodycan">EveryBodyCan pages</a> for ideas and information.</li>
                <li><a target="_blank" href="https://legsmatter.org/resources/fitness-and-movement-videos/">View Legs Matter Movement Videos</a> for more exercise ideas.</p></li>
                <li>Avoid standing for a long time – it is best to keep  feet and legs moving as much as possible. A good activity is to try lifting up one heel at a time to stretch the foot arch or rock back on the heels but make sure there is something to hold on to avoid any falls.</li>
                <li>Avoid sitting for long periods with legs down, put feet up – elevating legs above the level of the heart. It is also helpful to do foot and ankle stretches to help the circulation of blood and lymph.</li>
            </ul>
            <p class="nhsuk-u-font-weight-bold">Seated exercises for your legs:</p>
            <div style="display: flex; justify-content: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cXFUTK_xBx0?si=p7sVbyb9I27nyy74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>