<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Midline and Genital Lymphoedema Information</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Midline and genital lymphoedema</a>
                    </li>

                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>


        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>
            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#info">General Information for Midline and Genital Lymphoedema</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#diagnosis">Diagnosis</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#guides">Guides</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#skin-care">Skin Care</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#compression">Support or Compression</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#exercise">Exercise</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#treatment">Treatment</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#intervention">Clinic Intervention</a>
                </li>
            </ol>
        </nav>

        <h1 id="info">Midline and genital lymphoedema</h1>
        <p class="nhsuk-body">Although you may feel like the only person who has genital oedema it is not as rare as people seem to think but finding that you have it can initially be frightening and/or embarrassing. Every presentation of genital oedema is somewhat unique and will need a unique combination of solutions, but it does not mean you are alone in having it. The key is finding a knowledgeable and confident lymphoedema specialist who can guide you through the treatment options, direct you to suitable advice and support you in finding your own unique solutions. So, we all need to be brave and find our 20 seconds of courage to talk about our genitals.</p>
        <h2 id="diagnosis">Diagnosis</h2>
        <p>Getting an assessment of genital oedema is important because there are so many different causes, some of which can require medical or surgical treatment so we would encourage you not to ignore it. Once evaluated as being lymphoedema with no other underlying problem, the management is a well-informed adaption of the principles of lymphoedema care in any part of the body.</p>
        <h2 id="guides">Guides</h2>
        <details class="nhsuk-details nhsuk-expander" id="skin-care">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Skin Care</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>For some people, the skin of the genitals can be prone to repeated infection (cellulitis). Do not be tempted to wash with strong soaps or astringents. An emollient designed to be used as a wash is better. Antibiotics are needed to resolve cellulitis and if cellulitis occurs frequently, your specialist or doctor may recommend prophylactic low dose antibiotics for you.</p>
                <p>If the skin is too dry, e.g. of the labia, a lubricant can be useful to prevent friction damage; if however skin creases are too moist then a barrier cream can be useful. The key is to avoid breaks in the skin.</p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="compression">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Support or Compressionn</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>You may have specially made compression garments. These can be padded to protect swollen areas. Sports clothing or shapewear underwear containing Lycra® may also help. This will depend on how much swelling there is.</p>
                <p>If the oedema is restricting functions such as being able to pee (urinate) in a straight line then you might find it useful to set aside a towel for a short burst of compression by pulling up the towel between your legs in a sitting position (see figure 3)</p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="exercise">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Exercise</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>As with other types of lymphoedema, exercise is beneficial but may need consideration in terms of how it’s performed, e.g. good genital compression/support for running, a change of saddle on a bike and cycle shorts (see point above regarding lubrication as necessary).</p>
                <p>Pelvic floor and tummy (abdominal) exercises, combined with deep breathing exercises can help reduce swelling. Your lymphoedema specialist can show you how to do these.</p>
                <p>Keeping the muscles of the legs, buttocks, back and abdomen strong and pumping will help the lymphatics. Doing exercises in a swimming pool (or even deep bath) uses water pressure to support the genitals while you exercise the hip area. However, it may be sensible to cover any areas of broken skin with a waterproof dressing or garment. Do discuss with your lymphoedema specialist or doctor if you are unsure.</p>
                <p>Generally speaking, both men and women benefit from doing daily pelvic floor exercise too, and there are simple medically approved apps for mobile phones and laptops, that can instruct and remind you daily e.g. Squeezy app for men.</p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="treatment">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Treatment</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>It is important to look after your skin and keep it clean. Skin infections can be more common in the genital area. Genital lymphoedema is usually treated with Manual lymphatic drainage (MLD) or Simple lymphatic drainage (SLD).</p>
                <p>If you have swelling in the scrotum, your specialist may give you a scrotal support. They may use bandaging if the penis is swollen.</p>
                <p>Many people would feel embarrassed at the thought of massage (SLD) in this area, however it can make the world of difference when the swelling is restricting normal functions such as urinating. Your lymphoedema specialist will teach you this.</p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander" id="intervention">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Clinic Intervention</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>It may be that initially genital oedema requires intervention that is more intensive. This may be a short period of bandaging, manual lymphatic drainage, use of machines, such as deep oscillation or laser, or consideration of surgery. Where it is suspected that the cause of the genital oedema is more complex, some patients may also need a referral to another medical speciality, e.g. dermatology, gastroenterology.</p>
                <p>All <b>children</b> with genital oedema should see a lymphoedema specialist/doctor with specific paediatric experience and have a thorough medical assessment.</p>
            </div>
        </details>

        <br><p>Information sources: <a href="https://www.uhdb.nhs.uk/service-lymphoedema">University Hospital of Derby and Burton</a>, <a href="https://www.lymphoedema.org/information/from-our-newsletter/genital-oedema-in-adults/">The Lymphoedema Support Network (LSN)</a>, <a href="https://www.macmillan.org.uk/cancer-information-and-support/impacts-of-cancer/lymphoedema/managing-and-treating-lymphoedema">Macmillan Cancer Support</a></p>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>