<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Support</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <h1>Support</h1>

        <p>Information source: <a href="https://www.nhs.uk/conditions/lymphoedema/#:~:text=Psychological%20impact,-Living%20with%20a&text=If%20this%20is%20the%20case,of%20isolation%2C%20stress%20and%20anxiety.">NHS Lymphoedema Information Page</a>
        <p>Living with a long-term condition that affects your appearance can cause a great deal of distress and lead to periods of depression.</p>
        <p>You may be depressed if you've been feeling down for the past few months and no longer find pleasure in things you usually enjoy.</p>
        <p>If this is the case, talk to a GP or a member of your lymphoedema treatment team. Effective treatments are available for depression.</p>
        <p>Talking to other people with lymphoedema can be reassuring and decrease feelings of isolation, stress and anxiety.</p>
        <p>If you continue with your treatment plan, your symptoms should eventually become less noticeable.</p>
        <p>Beyond the treatment you received from our sites, there are also more local organisations and support groups which can provide you further support in mental and physical health:</p>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    The Lymphoedema Support Network
                </span>
            </summary>
                <div class="nhsuk-details__text">
                    <p>Lymphoedema Support Network offers and advice, information and support on all types of lymphoedema.  A yearly subscription opens further access to newsletters, information and self help videos and advice. </p>
                    <p>Tel: 02073510990</p>
                    <p>Email: Admin@lsn.org.uk</p>
                    <p>Website: <a href="https://www.lymphoedema.org/">www.lymphoedema.org</a></p>
                    <p>The LSN also hosts support groups across the UK and Ireland, for more details please <a href="https://www.lymphoedema.org/about-us/support-groups/">Click Here</a></p>
                </div>
        </details>


        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Swallows
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>A charity providing support and information for patients and carers that are living with or have been affected by head and neck cancer.</p>
                <p>Website: <a href="https://theswallows.org.uk/">www.theswallows.org.uk</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Age UK
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Tel: 08000556112</p>
                <p>Website: <a href="https://www.ageuk.org.uk/information-advice/">www.ageuk.org.uk</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Mental Health Support
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Tel: 08000556112</p>
                <p>Website: <a href="https://www.mind.org.uk/">www.mind.org.uk</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Legs Matter
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Legs Matter offer resources and advice for the public and health professionals for general leg problems including lymphoedema </p>
                <p>Website: <a href="https://legsmatter.org/">www.legsmatter.org</a></p>
            </div>
        </details>

        <p>Lymphoedema may also be a side effect after cancer treatment, for related information, please visit:</p>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Macmillan
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Support and information for patients and their families that are living with or have been affected by cancer. </p>
                <p>Tel: 08082399397</p>
                <p>Website: <a href="https://www.macmillan.org.uk/">www.macmillan.org.uk</a></p>
            </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Breast Cancer Now
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Tel: 08088006000</p>
                <p>Website: <a href="https://www.breastcancernow.org/">www.breastcancernow.org</a></p>
            </div>
        </details>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>