<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <title>Account</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <h1>My Account Details</h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          <span th:text="${user.firstname} + ' ' + ${user.lastname}"></span>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address information
        </dt>
        <dd class="nhsuk-summary-list__value">
          <span th:text="${user.address1}"></span><br>
          <span th:text="${user.address2}"></span><br>
          <span th:text="${user.city}"></span><br>
          <span th:text="${user.postcode}"></span>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Contact details
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p th:text="${user.email}">karen.francis@example.com</p>
        </dd>
      </div>

    </dl>

    <form th:method="post" th:action="@{/logout}">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Logout
      </button>
    </form>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
      <script th:inline="javascript">
        window.location.href = '/login';
      </script>
    </div>

  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>