<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <title>Admin</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <h2>Welcome, <span th:text="${name}"></span></h2>
    </div>

    <h1>Admin Area</h1>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" th:href="@{/admin/register}">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Register a new admin account</span>
      </a>
    </div>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" th:href="@{/admin/search}">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Search patients</span>
      </a>
    </div>

    <form th:method="post" th:action="@{/logout}">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Logout
      </button>
    </form>

    <div th:unless="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
      <script th:inline="javascript">
        window.location.href = '/login';
      </script>
    </div>

  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>