<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
  <title>Register</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" th:href="@{/register/consent}">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
    </div>


    <div class="nhsuk-form-group--error">
      <h2>
        Consent form error
      </h2>
      <p>
        All options must be accepted to proceed to registration
      </p>
    </div>



  </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>