<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Login</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <h1>Login</h1>
        <form th:method="post" th:action="@{/login}">
            <div>
                <label for="email">Email:</label>
                <input name="email" type="email" id="email"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input name="password" type="password" id="password"/>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
        <a th:href="@{/register}">Register a new account &gt;</a>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>