<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Register</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


    <a th:href="@{/login}">&lt; back</a>
        <h1>Register</h1>
        <form th:method="post" th:action="@{/register}" th:object="${newUserObject}">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" />
            </div>
            <div>
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" th:field="*{firstname}" />
            </div>
            <div>
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" th:field="*{lastname}" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:field="*{password}" />
            </div>
            <div>
                <label for="address1">Address Line 1:</label>
                <input type="text" id="address1" name="address1" th:field="*{address1}" />
            </div>
            <div>
                <label for="address2">Address Line 2:</label>
                <input type="text" id="address2" name="address2" th:field="*{address2}" />
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" id="city" name="city" th:field="*{city}" />
            </div>
            <div>
                <label for="postcode">Postcode:</label>
                <input type="text" id="postcode" name="postcode" th:field="*{postcode}" />
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </form>


        </main>
    </div>
    <footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>