<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <script src="/js/validation/_formValidatorUtil.js" defer></script>
    <script src="/js/validation/registerFormValidation.js" defer></script>
    <title>Register</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" th:href="@{/register/consent}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <div class="nhsuk-error-summary nhsuk-u-visually-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
                <ul class="nhsuk-list nhsuk-error-summary__list" role="list" id="error-summary-list"></ul>
            </div>
        </div>

        <form th:method="post" th:action="@{/register}" th:object="${newUserObject}" id="register-form">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                        Register
                    </h1>
                </legend>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="clinic">
                        Clinic:
                    </label>
                    <select class="nhsuk-select nhsuk-input--width-10" id="clinic" name="clinic" th:field="*{clinic}">
                        <option value="" disabled selected>Select a clinic</option>
                        <option value="Kings Mill Hospital">Nightingale Community Hospital</option>
                        <option value="Long Eaton Health Centre">Long Eaton Health Centre</option>
                        <option value="Kings Mill Hospital">Kings Mill Hospital</option>
                    </select>
                </div>


                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="email">
                        Email:
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" type="email" id="email" name="email"
                           th:field="*{email}" />
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="firstname">
                        First Name:
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="firstname" name="firstname"
                           th:field="*{firstname}" />
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="lastname">
                        Last Name:
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="lastname" name="lastname"
                           th:field="*{lastname}" />
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="password">
                        Password:
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" type="password" id="password" name="password"
                           th:field="*{password}" />
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="address1">
                        Address: <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                    </label>
                    <input class="nhsuk-input" type="text" id="address1" name="address-line-1" th:field="*{address1}"/>
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="address2">
                        <span class="nhsuk-u-visually-hidden">Address line 2 of 2</span>
                    </label>
                    <input class="nhsuk-input" type="text" id="address2" name="address-line-2" th:field="*{address2}"/>
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="city">
                        Town or city:
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" id="city" name="address-town"
                           th:field="*{city}"/>
                </div>

                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="postcode">
                        Postcode:
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" type="text" id="postcode" name="address-postcode"
                           th:field="*{postcode}"/>
                </div>

            </fieldset>
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Register
            </button>
        </form>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>