<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <script src="/js/validation/_formValidatorUtil.js" defer></script>
    <script src="/js/validation/consentFormValidation.js" defer></script>
    <title>Register</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" th:href="@{/login}">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
        </div>

        <div class="nhsuk-error-summary nhsuk-u-visually-hidden" aria-labelledby="error-summary-title" role="alert"
             tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
                <ul class="nhsuk-list nhsuk-error-summary__list" role="list" id="error-summary-list"></ul>
            </div>
        </div>

        <form th:method="post" th:action="@{/register/consent}" id="consent-form">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            Data and privacy consent
                        </h1>
                    </legend>

                    <div class="nhsuk-hint" id="example-hint">
                        Select all options that are relevant to you.
                    </div>

                    <div class="nhsuk-checkboxes">
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="photo-consent" type="checkbox" name="photo-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="photo-consent">
                                I consent to my photos being used in the NHS system.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="info-consent" type="checkbox" name="info-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="info-consent">
                                I consent to my information being added to the NHS system.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="forgotten-history-consent" type="checkbox" name="forgotten-history-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="forgotten-history-consent">
                                I understand that there may be something I have forgotten about in my record that I might find upsetting.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="abnormal-results-consent" type="checkbox" name="abnormal-results-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="abnormal-results-consent">
                                I understand that I may see test results or letters that I find upsetting.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="share-information-consent" type="checkbox" name="share-information-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="share-information-consent">
                                I understand it is my choice whether to share my information with others and my responsibility to keep it safe and secure.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="coercion-consent" type="checkbox" name="coercion-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="coercion-consent">
                                I understand that I should not register for access if I feel pressured into revealing details from my patient record against my will.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="misunderstood-information-consent" type="checkbox" name="misunderstood-information-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="misunderstood-information-consent">
                                I understand that some information in my medical record may be technical and not easily understood.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="info-about-others-consent" type="checkbox" name="info-about-others-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="info-about-others-consent">
                                I understand that if I spot something in my record that is not about me, I should log out and contact the practice immediately.
                            </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="proxy-access-consent" type="checkbox" name="proxy-access-consent">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="proxy-access-consent">
                                I understand that proxy access will cease automatically when my child reaches the age of 11.
                            </label>
                        </div>

                    </div>

                </fieldset>

            </div>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Submit
            </button>

        </form>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>
