<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Patient Diary</title>
    <!-- Add any extra JavaScript file references here -->
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <!-- Diary Landing Page -->
        <h1 class="nhsuk-heading-xl">My Diary</h1>
        <a class="nhsuk-action-link__link" href="/record-progress">
            <span class="nhsuk-action-link__text">Record today's progress</span>
        </a>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="calendar-date">Select a date:</label>
            <input class="nhsuk-input" id="calendar-date" name="calendar-date" type="text" placeholder="dd-mm-yyyy" pattern="\d{2}-\d{2}-\d{4}" required>
        </div>
        <button class="nhsuk-button" type="button">View all progress</button>
        <button class="nhsuk-button" type="button">Notification settings</button>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>
