<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>
    <title>Home</title>
</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <h1> Welcome to this site about Lymphoedema... </h1>
        <h2> Header 2</h2>
        <h3> Header 3</h3>
        <p>conten`t content content content content content content content content content content content content
            content content content content content content content content content content content </p>
        <p>content content content content content content content content content content content content content
            content content content content content content content content content content content </p>
        <p>content content content content content content content content content content content content content
            content content content content content content content content content content content </p>


    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>