<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link th:replace="~{fragments/mainFragments :: mainStyles}"/>
    <script th:replace="~{fragments/mainFragments :: mainScripts}"></script>
    <title>Document</title>
</head>
<body>

<header th:replace="~{fragments/mainFragments :: header}"></header>
<div class="main-container">
    <div class="page-container">



<!--        Content goes here, keep it inside page-container ...-->
<!--        For extra styles and scripts, add new  and scripts files, do not touch mainStyles.css or mainScripts.js-->
        <h1> Header 1 </h1>
        <h2> Header 2</h2>
        <h3> Header 3</h3>
        <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
        <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
        <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
        <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
<!--            Content -->


    </div>
</div>
<footer th:replace="~{fragments/mainFragments :: footer}"></footer>

</body>
</html>