<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Our Services</title>

    <link rel="stylesheet" href="/css/image-enlarge.css">
    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        <h1>Our Services</h1>

        <h4>Our team provide a specialist service for patients with lymphoedema and chronic oedema in Derbyshire. To find contact details please go to <a th:href="@{/contact-us}">contact us</a></h4>

        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>

            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#what-we-offer">What we offer</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#the-team">Meet our team</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="#consultations">Consultations</a>
                </li>
            </ol>
        </nav>

        <section id="what-we-offer">
            <h2>What we offer</h2>
            <p>We treat patients with varying causes of oedema, including primary and secondary lymphoedema; lipoedema; segmental overgrowth; and vascular and lymphatic malformations. We treat all age groups including children and provide a super specialist service for patients within the local area and for patients out of area.</p>
            <p>We are a consultant led service offering medical appointments Monday - Thursday. Our therapy led service runs Monday - Friday. We are located across three sites (Florence Nightingale Community Hospital; Long Eaton Health Centre; Kings Mill Hospital).</p>
            <p>Treatment is given by multidisciplinary specialist lymphoedema therapists, and may include compression bandaging, compression garments, Manual Lymphatic Drainage (MLD), Simple Lymph Drainage (SLD), pneumatic compression pumps and kinesio taping treatment.</p>
        </section>

        <section id="the-team">
            <h2>Meet our team</h2>

            <div style="display: flex; justify-content: center;">
                <a href="#enlarge">
                    <figure class="nhsuk-image">
                        <img width="100%" height="auto" class="nhsuk-image__img"
                             src="/assets/images/staffPic.png" alt="Our Team">
                    </figure>
                </a>
            </div>

            <div id="enlarge" class="modal">
                <a href="#b" class="close">&times;</a>
                <img src="/assets/images/staffPic.png" alt="OurTeam">
            </div>
        </section>

        <section id="consultations">
            <h2>Consultation</h2>
            <p>If you are a new patient, please follow the step below for your first consultation:</p>
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" th:href="@{/services/first-consultation-choose}">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Find your 1st consultation instructions</span>
                </a>
            </div>

            <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" th:href="@{/services/second-consultation}">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Find your follow up consultation instructions</span>
            </a>
            </div>
        </section>
    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>