<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Cookies</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">


        <h1> Cookies</h1>

        <h2>What are cookies?</h2>
        <ul>
            <li>Cookies are files saved on your phone, tablet or computer when you visit a website.</li>
            <li>They store information about how you use the website, such as the pages you visit.</li>
            <li>Cookies are not viruses or computer programs. They are very small so do not take up much space.</li>
        </ul>

        <h2>How we use cookies</h2>

        <h3>We only use cookies to:</h3>
        <ul>
            <li>make our website work</li>
            <li>measure how you use our website, such as which links you click on (analytics cookies), if you give us
                permission</li>
        </ul>
        <p>
            We do not use any other cookies, for example, cookies that remember your settings or cookies that help
            with
            health campaigns.
        </p>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>